@media (max-width:767px){
.tabs{
	margin-top: 30px;
	border:none;
	width:100%;
	float:none;
	margin-bottom:0;
}
.tabs ul li, 
.tabs ul li.active {
    margin: 0;
    padding:11px 21px 11px 18px;
	float: none;
    vertical-align: top;
}
.tabs ul li.dropdown{
	margin:0;
	padding:0;
	border:none;
	display:block;
	float:none !important;
}
.tabs ul li.dropdown > a{
	display:none;	
}
.tabs .cm-subtab-item{
	display:none;
}
.tabs ul li.dropdown ul.dropdown-menu{
	padding:0;
	margin:0;
	display:block;
	position:relative;
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.tabs ul li.dropdown ul.dropdown-menu li{
	border:1px solid;
	margin-bottom: -1px;
}
.cm-tabs-content {
	margin-top: 0;
	margin-bottom:15px;
	float:none;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#content_features .subheader{
	padding-bottom:5px;
}
#content_features .control-group label{
	width:100px;
}

#content_features .feature-value{
	margin:0;
}
}