.control-group.mcs_devices .controls span{
	margin-top:4px;
	margin-left:5px;
	vertical-align:middle;
	display:inline-block;
}

.control-group.mcs_devices .controls,
.control-group.mcs_full_width .controls{
	padding-top:2px;
}