.subcategories li{
	background-color:@decorative;
}
.subcategories li a{	
	.mcs_text_color(@decorative);
}
.subcategories li:hover{
	background-color:#000;
}
.subcategories li:hover a{
	.mcs_text_color(#000);
}
.mcs_i_grid ul.products li.product:hover .product-wrapper{
	.drop-shadow(0px, 0px, 15px ,0px ,0.20);
}
.mcs_i_grid ul.products li.product .prod_img{
	border-color:lighten(@base,41%);
}
.mcs_i_grid ul.products li.product .product_info h3{
	background:transparent;
}
.mcs_i_grid ul.products li.product .product_info h3 a{
	color:@font;
}
.mcs_i_grid ul.products li.product .features div{
	color:@base;
}
.mcs_i_grid .add-buttons,
.mcs_i_grid .add-buttons .text-button{
	color:@font;
}
.mcs_i_grid .add-buttons:hover,
.mcs_i_grid .add-buttons:hover .text-button{
	color:@decorative;	
}