.sort-dropdown {
	background:lighten(@base,41%);
	filter:none;
	border-color:lighten(@base,41%);
	.border-radius(0px);
}
.sort-dropdown a{
	.mcs_text_color(lighten(@base,41%));
}
.sort-dropdown a i{
	background:darken(@base, 3.6%);
	filter:none;
	.mcs_text_color(darken(@base, 3.6%));
}
.sort-dropdown.open, .sort-dropdown:hover {
	border-color: @decorative;
	background:lighten(@base,41%);
	filter:none;
	.mcs_no_shadow;
}
.sort-dropdown.open a i, .sort-dropdown:hover a i{
	background:@decorative;
	.mcs_text_color(@decorative);
}
.dropdown-content{
	.border-radius(0px);
	border-color:lighten(@base,41%);
	.mcs_no_shadow;
}
.dropdown-content li:hover{
	background:lighten(@base,41%);
	filter:none;
}
.views-icons a{
	.border-radius(0px);
}
.views-icons a.active{
	background:darken(@base, 3.6%);
	filter:none;
	border-color:lighten(@base,27%);
	.mcs_no_shadow;
}
.views-icons a.active i{
	.mcs_text_color(darken(@base, 3.6%));
}
.views-icons a:hover,
.views-icons a.active:hover {
	border-color:@decorative;
	background:@decorative;
	filter:none;
	.mcs_no_shadow;
}
.views-icons a:hover i{
	.mcs_text_color(@decorative);
}
.sort-dropdown, 
.sort-dropdown a, 
.views-icons .active, 
.views-icons > a:hover {
	.mcs_no_text_shadow;
}
.pagination a, .pagination a:active, .pagination-selected-page {
	.border-radius(0px);
}
.pagination a:hover{
	background:darken(@base, 23%);
	filter:none;
	.mcs_text_color(darken(@base, 23%));
}
.pagination a.set:hover, .pagination a.prev:hover, .pagination a.next:hover{
	.mcs_text_color(darken(@base, 23%));
}

.popup-content ul.account-info li a:hover, 
ul.select-list li:hover, 
.dropdown-content li:hover, 
.tabs .dropdown-menu li.active {
	background:lighten(@base,41%);
	filter:none;
}
