/* ==========================================================================
mcs_grid_ii
========================================================================== */

.mcs-grid-ii-list__item{
	margin:10px 10px;
	border:10px solid #fff;
	.transition(border-color 1s ease 0s);
}

.mcs-grid-ii-list__item:hover{
	border-color:#ebebeb;
	.transition(border-color 0.3s ease 0s);
}

.mcs-grid-ii-list__item:hover {
	.mcs-grid-ii-list__rating{
		opacity:0;
		.transition(opacity 0.1s ease 0s);
	}
	.mcs-grid-ii-list__control{
		opacity:1;
		.transition(opacity 0.3s ease 0s);
	}
}

.mcs-grid-ii-list__image {
	position: relative;
	padding: 10px 0;
	text-align: center;
	min-height: 150px;
	border-bottom:1px solid #ebebeb;
}
.mcs-grid-ii-list__image .ty-no-image {
	border: 0px;
}

.mcs-grid-ii-list__item-name {
    margin:10px;
	min-height:@links_font_size * 2.8;
}
.mcs-grid-ii-list__item-name .product-title {
    color: lighten(@font, 35%);
}

.mcs-grid-list-ii__description{
	margin:10px;
	min-height:@body_font_size * 2.8;
	max-height:@body_font_size * 2.8;
}

.mcs-grid-ii-list__price{
	display: inline-block;
    text-align: right;
    vertical-align: top;
    margin-top: 10px;
	margin-right:10px;
    float: right;
    max-width: 45%;
    overflow: hidden;
    word-break: break-all;
	height:50px;
}

.mcs-grid-ii-list__price > span:first-child{
	min-height:1.4em;
	display:block;
}

.mcs-grid-ii-list__rating{
//	float:left;
	margin-top:10px;
	margin-left:10px;
	max-width:45%;
	.transition(opacity 2s ease 0s);
	position:relative;
	min-width:40%;
	height:50px;
	display:inline-block;
	margin-bottom:10px;
}
.mcs-grid-ii-list__rating > span{
	position:absolute;
	bottom:10px;
}

.mcs-grid-ii-list__control{
	opacity:0;
	.transition(opacity 1s ease 0s);
//	height:70px;
	position:relative;
}

.mcs-grid-ii-list__control .button-container{
	position:absolute;
	bottom:13px;
	left:10px;
	
	.ty-btn{
		font-size: @buttons_font_size;
	}
}

.ty-icon-mcs-grid-ii {
    font-family: 'glyphs';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.ty-icon-mcs-grid-ii:before {
    content: "\e012";
}

/* /mcs_grid_ii */

/* ==========================================================================
mcs_grid_i_scroller
========================================================================== */

.mcs-grid-ii-scroller {
	&.owl-theme .owl-controls .owl-buttons div{
		position:absolute;
		top:40%;
		line-height:12px;
		padding:10px 12px 7px;
		text-align:center;
		.border-radius(0);
	}
	.owl-prev{
		left:10px;
	}
	.owl-next{
		right:10px;
	}
	
	.ty-quick-view-button{
		visibility:visible;
		position:absolute;
		padding-top:0px;
		left:10px;
		bottom:13px;
	}
}

/* /mcs_grid_i_scroller */