.button_icon (@b) when (lightness(@b) >= 30%) {
	.icon_wrap {
		color: darken(@b, 45%);
	}
}
.button_icon (@b) when (lightness(@b) < 70%) {
	.icon_wrap {
		color: lighten(@b, 70%);
	}
}

.product-main-info h1.mainbox-title{
	color: darken(@menu, 5%);
}

.border-image-wrap {
	border-color: lighten(@base,25%);
}
.product-main-info .image-border {
	border-color: lighten(@base,25%);
}
.product-main-info .button-submit-big.button-wrap-left{
	.border-radius (0px);
	border:none;
}
.product-main-info .button-submit-big.button-wrap-left {
	.gradient (@primary_button, @primary_button);
	.inner-shadow (0, 0, 0, 0, 0);
}
.product-main-info .button-submit-big.button-wrap-left:hover{
	.gradient (@menu, @menu);
	.inner-shadow (0, 0, 0, 0, 0);
}
.product-main-info .button-submit-big.button-wrap-left:hover:active{
	.gradient (darken(@menu,5%), darken(@menu,5%));
	.inner-shadow-dark (0, 0, 0, 0, 0);
}
.product-main-info .button-submit-big.button-wrap-right{
	.button_icon (@primary_button);
}
.product-main-info .add-to-wish,
.product-main-info .add-to-compare{
	color:@links;
}

.tabs{
	border-color:darken(@menu,5%);
}

.tabs ul>li, 
.tabs ul>li.active{
	.border-radius(0px);
}

.tabs ul li.active,
.tabs ul.dropdown-menu li.active {
	border-color: darken(@menu, 5%);
}

.tabs-content{
	border-color: lighten(@base,30%);
}

.tabs-content .control-group{
	border-color: lighten(@base,30%);
}