.mcs-logged-out .ty-account-info__buttons{
	.ty-btn__primary:before{
		font-family:"icomoon";
		content: "\e00f";
		vertical-align:inherit;
		margin:5px;
	}
	.ty-btn__secondary:before{
		font-family:"icomoon";
		content: "\e379";
		vertical-align:inherit;
		margin:5px;
	}
}

.mcs-logged-in .ty-account-info__buttons{
	.ty-btn__primary:before{
		font-family:"icomoon";
		content: "\e37a";
		vertical-align:inherit;
		margin:5px;
	}
}