.ty-add-to-wish .ty-btn:before{
	font-family:"icomoon";
	content: "\e305";
	//vertical-align:inherit;
	margin-right:5px;
}

.ty-add-to-compare .ty-btn:before{
	font-family:"icomoon";
	content: "\e203";
	//vertical-align:inherit;
	margin-right:5px;
}


.ty-product-list__control,
.ty-compact-list__controls,
.mcs-grid-ii-list__control,
.ty-product-block__button {
	.ty-btn__primary:before{
		font-family:"icomoon";
		content: "\e0d2";
		//vertical-align:middle;
		margin-right:5px;
	}
}