.mcs-brands-page .mcs-list-filter ul li,
.mcs-brands-page .mcs-list-filter ul li#li-ALL{
	border-color: lighten(@base,25%);
}
.mcs-brands-page .mcs-brands-row > .subheader{
	border-color: lighten(@base,25%);
}
.mcs-brands-page .brand-box.with-image{
	border-color: lighten(@base,25%);
}
.mcs-brands-page .brand-box.with-image:hover{
	.drop-shadow(1px, 1px, 15px ,0 ,0.33);
}
.mcs-brands-page .brand-image{
	border-color: lighten(@base,25%);
}
.mcs-brands-page .brand-name{
	color:@links;
}
.mcs-brands-page .brand-url a{
	color:darken(@font,15%);
}