.mcs-brands-page .mcs-list-filter ul li{
	border-color: lighten(@base,27%);
	background-color:darken(@base, 3.6%);
}
.mcs-brands-page .mcs-list-filter ul li a{
	.mcs_text_color(darken(@base, 3.6%));
}
.mcs-brands-page .mcs-list-filter ul li.active,
.mcs-brands-page .mcs-list-filter ul li:hover{
	border-color:@decorative;
	background-color:@decorative;
}
.mcs-brands-page .mcs-list-filter ul li.active a,
.mcs-brands-page .mcs-list-filter ul li:hover a{
	.mcs_text_color(@decorative);
}
.mcs-brands-page .brand-box.with-image:hover{
	.drop-shadow(0px, 0px, 15px ,0px ,0.20);
}
.mcs-brands-page .brand-name{
	color:@links;
	border-color: lighten(@base,41%);
}
.mcs-brands-page .brand-url a{
	color:darken(@font,15%);
}