/*Headings*/

.wysiwyg-content  h1
{font-size:@headings_font_size;}
.wysiwyg-content h1>span,
.wysiwyg-content h1>span>i,
.wysiwyg-content h1>a
{font-size:100% !important;}

.wysiwyg-content  h2
{font-size:@headings_font_size - 4;}
.wysiwyg-content h2>span,
.wysiwyg-content h2>a
{font-size:100%;}

.wysiwyg-content  h3
{font-size:@headings_font_size - 6;}
.wysiwyg-content h3>span,
.wysiwyg-content h3>a
{font-size:100%;}

.wysiwyg-content  h4
{font-size:@headings_font_size - 8;}
.wysiwyg-content h4>span,
.wysiwyg-content h4>a
{font-size:100%;}

.wysiwyg-content  h5
{font-size:@headings_font_size - 10;}
.wysiwyg-content h5>span,
.wysiwyg-content h5>a
{font-size:100%;}

/*Breadcrumbs*/
.breadcrumbs a:hover:after{
	color:@base;	
}
.breadcrumbs a:hover >span{
	color:@links;
}

/*Mainbox general*/
.mainbox-title,
.mainbox-title span{
	.mcs_text_color(@decorative);
}
h1.mainbox-title{
	background-color:@decorative;
}

/*Search results page*/
.section-title {
	background: lighten(@base,41%);
	filter:none;
	border-color:lighten(@base,41%);
}
.section-title span{
	.mcs_no_text_shadow;
}
.section-body, 
.section-body-details{
	.mcs_no_shadow;
	border-color:lighten(@base,41%);
}

.quick-view-wrap .left-side{
	margin-right:10px;
}
.quick-view-wrap .product-info{
	padding-left:10px;
}

/*Pop up dialog */
.ui-dialog .ui-dialog-titlebar, 
.step-title-active span.float-left, 
.notification-content-extended h1, 
.cm-paging-dots a.active i, 
.cm-paging-dots a.active:hover i {
	background:#fff;
	filter:none;
}

div.ui-dialog .ui-dialog-title,
.ui-widget-header .ui-icon-closethick,
.notification-content-extended h1,
.notification-content-extended h1 span{
	.mcs_text_color(#fff);
}
.ui-widget-header .ui-dialog-titlebar-close.ui-state-hover span:before,
.notification-content-extended h1 span:hover {
	color:lighten(#000, 50%);
}
.product-notification-body,
.product-notification-buttons,
.object-container{
	border-left:none;
	border-right:none;
	border-bottom:none;
}
/************************ buttons ********************************/
.mcs_i_grid .mcs-wishlist .button-action.button-wrap-left{
	background:transparent;
	filter:none;
	.inner-shadow (0, 0, 0, 0, 0);
}

.mcs_i_grid .mcs-wishlist i,
.mcs_i_grid .mcs-wishlist a,
.mcs_i_grid .mcs-wishlist .button-action.button-wrap-left i,
.mcs_i_grid .mcs-wishlist .button-action.button-wrap-left a{
	color:@decorative;
}

.button-action.button-wrap-left:hover, 
.button-submit-action.button-wrap-left:hover,
.button-submit-big.button-wrap-left:hover,
.button-big.button-wrap-left:hover,
.mcs_i_grid .mcs-wishlist > div > span:hover {
	.gradient (@decorative, @decorative);
	border-color:darken(@decorative, 16%);
}
.button-action.button-wrap-left:hover:active, 
.button-submit-action.button-wrap-left:hover:active,
.button-submit-big.button-wrap-left:hover:active,
.button-big.button-wrap-left:hover:active,
.mcs_i_grid .mcs-wishlist > div > span:hover:active {
	.gradient (@decorative, @decorative);
	border-color: darken(@decorative, 16%);
}

.button-submit-action.button-wrap-left:hover,
.button-action.button-wrap-left:hover,
.qv-buttons-container .button-action.button-wrap-left:hover,
.buttons-container .button-action.button-wrap-left:hover,
.buttons-container-item .button-action.button-wrap-left:hover,
.button-submit-big.button-wrap-right:hover,
.sidebox-body .button-action.button-wrap-left:hover,
.button-big.button-wrap-left:hover,
.mcs_i_grid .mcs-wishlist > div > span:hover,
.button-submit-action.button-wrap-left:hover:active,
.button-action.button-wrap-left:hover:active,
.qv-buttons-container .button-action.button-wrap-left:hover:active,
.buttons-container .button-action.button-wrap-left:hover:active,
.buttons-container-item .button-action.button-wrap-left:hover:active,
.button-submit-big.button-wrap-right:hover:active,
.sidebox-body .button-action.button-wrap-left:hover:active,
.button-big.button-wrap-left:hover:active,
.mcs_i_grid .mcs-wishlist > div > span:hover:active {
	.button_text (@decorative);
	.mcs_no_text_shadow;
}

.mcs_i_grid .mcs-wishlist a:hover{
	text-decoration:none;
}

.mcs-button{
	.mcs_button_text_color(@decorative);
	display:inline-block;
	padding:10px;
}

.mcs-button:hover{
	text-decoration:none;
	.mcs_button_text_color(#000);
}

/*Block grouping*/

.mcs-accordion-grid .ui-accordion-header.ui-state-default{
	background:lighten(@base,41%);
}
.mcs-accordion-grid .ui-accordion-header.ui-state-active{
	background:lighten(@base,100%);
	border-color:lighten(@base,36%);
}
.mcs-accordion-grid .ui-accordion-header.ui-state-hover{
	background:lighten(@base,36%);
}

.input-append .input-text{
	.border-radius(0);
}

/*Default carousel*/
.owl-theme .owl-controls .owl-page span.owl-numbers,
.owl-theme .owl-controls .owl-buttons div{
	.border-radius(0);
}

/*no-items*/
.no-items{
	.mcs_no_shadow;
	.mcs_no_text_shadow;
}