.breadcrumbs > span,
.breadcrumbs > span > span{
	color:#444 !important;
	vertical-align:middle;
}
.breadcrumbs .breadcrumbs-icon{
	font-size:25px;
	display:inline-block;
	color:#444;
}
.breadcrumbs > i{
	display:none;
}
.breadcrumbs a{
	vertical-align:middle;	
}
.breadcrumbs > a:after,
.breadcrumbs > span > a:after{
	content:"/";
	margin-left:5px;
	font-size:15px;
	display:inline-block;
}

/*Mainbox general*/
.mainbox-container{
	background:#fff;
}
h1.mainbox-title{
	z-index:10;
	padding:10px;
	margin:10px;
}
.mainbox-body{
	margin:10px;
}
.form-wrap{
	border-radius:0;
	border:none;
	padding:12px 0 0 0;
}

.buttons-container, 
.buttons-container-item, 
.buttons-container.wrap{
	padding:15px;
}

/*Reviews*/
.stars .icon-star,
.stars .icon-star-empty,
.stars .icon-star-half
{
	color: #edc60d;
}

/*Search results page*/
.search-form{
	border-radius:0;
}
.section-title {
	border-radius:0;
}
.section-title.open{
	border-radius:0;
}

.section-body, 
.section-body-details {
	padding: 10px;
	border-radius:0;
}
.mainbox-title span.float-right {
	padding-top: 0;
	font-size:100%;
}

/*Price*/
.price-num {
	font-size: 185%;
}
.price-num .decim{
	font-size: 60%;
}


/*Block Grouping*/
.mcs-tabs-grid,
.mcs-accordion-grid{
	margin-bottom:20px;
}
.mcs-tabs-grid.ui-tabs{
	border-radius:0px;
	border:none;
	background: transparent;
	padding:0;
}

.mcs-tabs-grid .ui-tabs-nav {
	border-radius:0px;
	border: 0px;
	background: transparent;
	padding:0px;
	color: #000000;
}

.mcs-tabs-grid .ui-tabs-active{
	background:#fff;
	border-radius:0px;
}

.mcs-tabs-grid .ui-tabs-anchor:hover{
	background:#fff;
}

.mcs-tabs-grid .ui-tabs-panel{
	background: #ffffff;
	border-radius:0px;
}

.mcs-accordion-grid.ui-accordion{
	background-color:#fff;
	padding:10px;
}
.mcs-accordion-grid .ui-accordion-header{
	border-radius:0px;
	color: #000000;
	border:none;
}
.mcs-accordion-grid .ui-accordion-header.ui-state-active{
	border-bottom:1px solid;
}
.mcs-accordion-grid .ui-accordion-content{
	background: #ffffff;
	border-radius:0px;
	border:none;
}

/*mcs-i-scroller*/
.mcs_i_scroller .bx-wrapper .bx-viewport{
	padding:10px 9px;
	left:-9px;
}


/*Default carousel*/
.owl-theme{margin:0;}
.owl-theme .owl-controls {
	margin: 5px 0;
}

/*Store locator (Addon)*/
.store-location-wrapper{
	margin-bottom:20px;
}

/*Checkout*/
.checkout_checkout .mainbox-container,
.sidebox-wrapper.order-summary{
	margin-top:15px;
}
.mainbox-title .secure-page-title{
	margin:0;
}
.mainbox-title .secure-page-title .icon-lock{
	margin-left:10px;
	font-size:70%;
}
.step-four .tabs-content{
	padding-left:0;
	padding-right:0;
}

/*Cart*/
.checkout_cart h1.mainbox-title{
	margin-left:0;
	margin-right:0;
}
.buttons-container.cart-top-buttons,
.buttons-container.cart-bottom-buttons{
	padding-left:0;
	padding-right:0;
	margin-top:0;
	border:none;
}

/*Compare list*/
.compare-buttons .buttons-container{
	padding-left:0;
	padding-right:0;
}

/* Profile update page */
.account{
	margin-bottom:0;
}
.account .address-switch{
	margin-left:0;
	box-sizing:border-box;
}
.account .buttons-container{
	margin-left:0;
	margin-bottom:0;
	box-sizing:border-box;
	padding-left:0;
	padding-right:0;
}

.account-detail{
	margin-top:10px;
}

/*Gift certificates page*/
.gift-send{
	margin-left:0;
	box-sizing:border-box;
	height:auto;
}
.gift .buttons-container{
	margin-left:0;
	margin-bottom:0;
	box-sizing:border-box;
	padding-left:0;
	padding-right:0;
}

/*Gift certificates verification page*/
.gift-verify .tabs-content{
	padding-left:0;
	padding-right:0;
}

/*Login popup*/
.login-popup .buttons-container{
	padding-left:15px;
	padding-right:15px;
}

/*Authentication Login Form*/
.login .body-bc{
	margin-left:0;
}