.breadcrumbs > span,
.breadcrumbs > span > span{
	color:#444 !important;
	vertical-align:middle;
}
.breadcrumbs .breadcrumbs-icon{
	font-size:25px;
	display:inline-block;
	color:#444;
}
.breadcrumbs > i{
	display:none;
}
.breadcrumbs a{
	vertical-align:middle;	
}
.breadcrumbs > a:after,
.breadcrumbs > span > a:after{
	content:"/";
	margin-left:5px;
	font-size:15px;
	display:inline-block;
}

.button-submit-action.button-wrap-left, 
.button-submit.button-wrap-left, 
.button-action.button-wrap-left, 
.button.button-wrap-left, 
.button-submit-big.button-wrap-left, 
.button-big.button-wrap-left {
	border: none;
}

/*Mainbox general*/
.mainbox-container{
	background:#fff;
}
h1.mainbox-title{
	z-index:10;
	padding:10px;
	margin:10px;
}

.form-wrap{
	border-radius:0;
	border:none;
	padding:12px 0 0 0;
}

.buttons-container, 
.buttons-container-item, 
.buttons-container.wrap{
	padding:15px;
}

/*Reviews*/
.stars .icon-star,
.stars .icon-star-empty,
.stars .icon-star-half
{
	color: #edc60d;
}

/*Search results page*/
.search-form{
	margin:10px;
	border-radius:0;
}
.section-title {
	border-radius:0;
}
.section-title.open{
	border-radius:0;
}

.section-body, 
.section-body-details {
	padding: 10px;
	border-radius:0;
}
.mainbox-title span.float-right {
	padding-top: 0;
	font-size:100%;
}
