@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa'), local('Comfortaa-Regular'), url(http://themes.googleusercontent.com/static/fonts/comfortaa/v5/UgYUhLCkRUocJ8OZnvelZz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url(http://themes.googleusercontent.com/static/fonts/comfortaa/v5/fND5XPYKrF2tQDwwfWZJI8ZTcY6RJTMCp6-nlHd6HxI.woff) format('woff');
}