@media only screen and (max-width: 767px) {
/*Reset password page*/ 
.login .body-bc{
	width:auto;
	margin:22px 0 0;
	padding-left:0;	
}
.login-info {
	margin:0 0 50px 0;
}

/*Register page*/
.account{
	margin:0;
}
.account .buttons-container{
	width:auto;
	margin:30px 0 0;
	padding-left:0;
}
.account-benefits {
	margin:0 0 50px 0;
}

/*Notifications*/
.cm-notification-container {
	width:90%!important;
	margin:0px!important;
	left:5%!important;
}

/*Add to cart popup*/
.notification-content-extended {
	width:90%!important;
	margin:0px!important;
	left:5%!important;
}

.product-notification-total-info>div{
	width:100%;
	float:left;
	margin:5px 0px;

}

/*Sidebox*/
.mcs-sidebox-hide .sidebox-title span:before,
.mcs-sidebox-hide .sidebox-title a.titl:before{
	font-family:'icomoon';
	content:'\e3b5';
	display:inline-block;
}
.mcs-sidebox-hide .sidebox-title.unhid span:before,
.mcs-sidebox-hide .sidebox-title.unhid a.titl:before{
	font-family:'icomoon';
	content:'\e3b6';
	display:inline-block;
}
.mcs-sidebox-hide .sidebox-title{
	cursor:pointer;
}

.mcs-sidebox-hide .sidebox-body{
	display:none;
}

/*Product page*/
.product-main-info .no-image{
	max-width:99%;
	height:240px !important;
	margin:auto;
} 

/*Breadcrumbs*/
.breadcrumbs{
	padding:12px 0px;
}
#mcs_helper.products_view .breadcrumbs{
	padding:12px 0px 35px;
}
.breadcrumbs .product-switcher{
	top:auto;
	right:auto;
	bottom:10px;	
}

/*Contact us*/
.form-wrap-default .input-textarea{
	width:100%;
}

/*Product tabs*/
.tabs{
	margin-top: 30px;
	border:none;
	width:100%;
	float:none;
	margin-bottom:0;
}
.tabs ul li, 
.tabs ul li.active {
    margin: 0;
    padding:11px 21px 11px 18px;
	float: none;
    vertical-align: top;
}
.tabs ul li.dropdown{
	margin:0;
	padding:0;
	border:none;
	display:block;
	float:none !important;
}
.tabs ul li.dropdown > a{
	display:none;	
}
.tabs .cm-subtab-item{
	display:none;
}
.tabs ul li.dropdown ul.dropdown-menu{
	padding:0;
	margin:0;
	display:block;
	position:relative;
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.tabs ul li.dropdown ul.dropdown-menu li{
	border:1px solid;
	margin-bottom: -1px;
}
.cm-tabs-content {
	margin-top: 0;
	margin-bottom:15px;
	float:none;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#content_features .subheader{
	padding-bottom:5px;
}
#content_features .control-group label{
	width:100px;
}

#content_features .feature-value{
	margin:0;
}

/* Default Grid Responsive */
table.multicolumns-list tbody tr td.product-spacer{display:none;}
table.multicolumns-list tbody tr td.product-cell{display:block;width:100%!important;}
table.multicolumns-list tbody tr td.product-cell .product-cell-wrapper{display:block;width:100%;padding:0;}

/* Default List with options Responsive */
.pagination-container .list .product-item-image{display:block;width:100%;margin-right:0;}
.pagination-container .list .product-info .add-product{display:block;width:100%;padding-left:0;text-align:center;}
.pagination-container .list .buttons-container {padding: 10px 0 10px 0;}
.pagination-container .list .product-info .prod-info{overflow-y:visible;overflow-x:visible;}
.pagination-container .list .product-info .prod-info .prices-container{padding-bottom:0;text-align:center;}
.pagination-container .list .product-info .prod-info .product-prices{float:none;}
.pagination-container .list .product-info .prod-info .product-descr{text-align:center;}

/* Default Compact List Responsive */
.pagination-container table.table.products tr{border-bottom:1px solid;}

.pagination-container table.table.products td.product-image,
.pagination-container table.table.products td.compact,
.pagination-container table.table.products td.nowrap.right{
	display:block;
	width:100%;
	text-align:center;
	border:none;
	padding:0;
}
.pagination-container table.table.products td.nowrap.right{padding:10px 0;}


/* Profile update page */
.account-detail {
	margin: 45px 0 0 0;
}
.account .address-switch {
	margin-left: 0;
	padding-right: 0;
	width: 100%;
}

/*Gift certificates page*/
.gift-send{
	height:auto;
}

.gift-send-left{
	float:none;
	margin-left:0;
}
.gift-send h2{
	display:none;
}

/*Gift certificates verification page*/
.gift-verify{
	width:auto;
}
.gift-history *{
	display:block;
	width:auto !important;
}

}