/*Default banner block*/
.ad-container>img{width:100%;height:auto;}


.product-main-info .product_category{
	color:@base;
}

/*Product page*/
.product-details:after{
	display:table;
	content:"";
	line-height:0;
	clear:both;
}

/*Popup*/
div.ui-front{
	z-index:1500 !important;
}

/*Sidebox general*/

.sidebox-wrapper .sidebox-title{
	background:@sidebar;
	filter:none;
}
.sidebox-wrapper .sidebox-title,
.sidebox-wrapper .sidebox-body {
	border:none;
	box-shadow:none;
	background-color:@sidebar;
}

.sidebox-wrapper .sidebox-body{
	.mcs_sidebox_text(@sidebar);
}

/*Sidebox important*/

.sidebox-important-wrapper .sidebox-title{
	background:@decorative;
	filter:none;
}
.sidebox-important-wrapper .sidebox-title,
.sidebox-important-wrapper .sidebox-body {
	border:none;
	box-shadow:none;
	background-color:@decorative;
}

.sidebox-important-wrapper .sidebox-body{
	.mcs_sidebox_text(@decorative);
}

/*mcs Warning*/
.mcs-warning{
	max-width:@fluidContainerMaxWidth;
	margin:auto;
	background-color:#fff;
	padding:20px;
	box-sizing:border-box;
}

/*mcs_footer_wrapper*/
.footer-wrapper-title{
	margin:10px 0;
	font-size:150%;
	color:@footer_text;
}
.footer-wrapper-title{
	p,span,a,a:visited,a:active,a:link{
		font-size:100%;
	}
}

.footer-wrapper-body{
	p,span,div{
		color:@footer_text;
	}
}