@media only screen and (max-width: @fluidContainerMaxWidth) {
/*MCS-FULL-WIDTH*/
.container-fluid > .row-fluid{
	padding-left:20px;
	padding-right:20px;
	box-sizing:border-box;
}
.mcs-full-width > div > .row-fluid{
	padding-left:20px !important;
	padding-right:20px !important;
	box-sizing:border-box;
}
.mcs-half{
	max-width:50%;
	margin:0;
	float:left !important;
}

}

@media only screen and (max-width: 767px){
	.container{
		width:auto;
	}
}
@media only screen and (min-width:980px) and (max-width:1199px){
	.container{
		width:965px;
	}
}
@media only screen and (min-width:768px) and (max-width:979px) {
	.container{
		width:749px;
	}
}
@media only screen and (min-width:1200px) {
	.container{
		width: 1197.5px;
	}
}

@media only screen and (max-width: 767px) {

/* Default Compact List Responsive */
.pagination-container table.table.products tr{
	border-color:lighten(@base,30%);
}

/*Product Tabs*/
.tabs ul li.dropdown ul.dropdown-menu{
	.mcs_no_shadow;
}

}
