.mcs-brands-page .mcs-list-filter ul li{
	float:left;
	padding:0 5px;
	border:1px solid;
}
.mcs-brands-page .brand-box{
	padding:0;
	border:1px solid;
	text-align:center;
	margin-bottom:20px;
}
.mcs-brands-page .brand-box.first{
	margin-left:0;
}
.mcs-brands-page .brand-image{
	height:100px;
	text-align:center;
	border-bottom:1px solid;
	line-height:100px;
}
.mcs-brands-page .brand-image img{
	max-width:95%;
	max-height:95%;
	width:auto;
	height:auto;
	margin:auto;
	display:inline-block;
}

.mcs-brands-page .brand-name{
	
}