@media only screen and (max-width: @fluidContainerMaxWidth) {
/*MCS-FULL-WIDTH*/
.container-fluid > .row-fluid{
	padding-left:20px;
	padding-right:20px;
	box-sizing:border-box;
}
.mcs-full-width > div > .row-fluid{
	padding-left:20px !important;
	padding-right:20px !important;
	box-sizing:border-box;
}
.mcs-half{
	max-width:50%;
	margin:0;
	float:left !important;
}

}