.mcs_sistina .product_image_wrapper{
	position:relative;
}
.mcs_sistina .product-container.list .stars {
	position:absolute;
	bottom:-25px;
	left:0;
	right:0;
	text-align:center;
}
.mcs_sistina .product-container.list span.mcs_span_img {
	position:relative;
}

.mcs_sistina .product-container.list span.mcs_span_img .thumb-discount-label{
	right:5px;
}

.mcs_sistina .product-info .add-product {
	padding-left:0px;	
}

@media(min-width:768px){
	.mcs_sistina .product-info .add-product{
		
		text-align:right;
	}
}