//Fonts
@csp_body_font: 13px Arial, Helvetica, sans-serif;
@csp_body_font_weight: normal;
@csp_body_font_style: normal;
@csp_body_font_decoration: none;

@csp_links_font: 13px Arial, Helvetica, sans-serif;
@csp_links_font_weight: normal;
@csp_links_font_style: normal;
@csp_links_font_decoration: none;

@csp_buttons_font: 11px Arial, Helvetica, sans-serif;
@csp_buttons_font_weight: normal;
@csp_buttons_font_style: normal;
@csp_buttons_font_decoration: none;
@csp_buttons_font_size: 11;

@csp_headings_font: 26px Arial, Helvetica, sans-serif;
@csp_headings_font_weight: normal;
@csp_headings_font_style: normal;
@csp_headings_font_decoration: none;

@csp_price_font: 32px Arial, Helvetica, sans-serif;
@csp_price_font_weight: normal;
@csp_price_font_style: normal;
@csp_price_font_decoration: none;

//Backgrounds
@csp_background: #ffffff;
@csp_general_bg: transparent;

@csp_top_panel_bg_color: #ffffff;
@csp_top_panel_bg_grad_stop: #ffffff;
@csp_top_panel_bg_color_full: #ffffff;
@csp_top_panel_bg_grad_stop_full: #ffffff;
@csp_header_bg_color: #ffffff;
@csp_header_bg_grad_stop: #ffffff;
@csp_header_bg_color_full: #ffffff;
@csp_header_bg_grad_stop_full: #ffffff;
@csp_content_bg_color: #ffffff;
@csp_content_bg_color_full: #ffffff;
@csp_footer_bg_color: #ffffff;
@csp_footer_bg_grad_stop: #ffffff;
@csp_footer_bg_color_full: #ffffff;
@csp_footer_bg_grad_stop_full: #ffffff;

//Colors
@csp_links: #000;
@csp_menu: #ffffff;
@csp_base: #ffffff;
@csp_primary_button: #ffffff;
@csp_secondary_button: #ffffff;
@csp_footer: lighten(@csp_base, 45%);

// Sidebox
@csp_sidebar: #ffffff;
@csp_slider: desaturate(@csp_links, 30%);
@csp_font: #000000;

// Header
@csp_top_panel_links: #000000;
@csp_top_panel_text: #000000;

// Footer
@csp_footer_bg_grad_stop: #ffffff;
@csp_footer_text: #000000;

//Red colors with #A80006 color
@csp_price: #A80006;
@csp_out_of_stock: #A80006;

//Green colors with #62AD00 color
@csp_in_stock: #62ad00;
@csp_discount_label: #62ad00;

//Decorative gradient elements
@csp_decorative: #ffffff;