.accent {
	color:@decorative;
}

.tygh-header .top-menu-grid{
	background:@menu;
}

.tygh-header ul.dropdown-multicolumns{
	background:@menu;
	filter:none;
}

/*top-my-account*/

.header-grid .dropdown-box.top-my-account .popup-title.open{
	border-color:lighten(@base,20%);
}

/*top-cart-content*/
.header-grid .top-cart-content .dropdown-box .popup-title.open{
	border-color:lighten(@base,20%);
}
.dropdown-box .empty {
	color:@top_panel_text !important;
}