/* ==========================================================================
mcs_grid_i
========================================================================== */

.mcs-grid-i-list__item{
	margin:10px 10px;
	//.box-sizing(border-box);
	position:relative;
}

.mcs-grid-i-list__item:hover .mcs-grid-i-list__item-wrapper{
	.box-shadow(0 0 15px 0 darken(@base,7%));
}

.mcs-grid-i-list__item-wrapper{
	background:#fff;
	padding:5px;
}

.mcs-grid-i-list__image {
	position: relative;
	text-align: center;
	min-height: 150px;
	border-bottom:1px solid #ebebeb;	
}

.mcs-grid-i-list__image .ty-no-image {
	border: 0px;
}

.mcs-grid-i-list__item-name .product-title{
	display: block;
	min-height: @links_font_size * 2.8;
	max-height: @links_font_size * 2.8;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	text-align:center;
	color: @font;
}

.mcs-grid-i-list__price{
	text-align:center;
}

.mcs-grid-i-list__control{
	.ty-add-buttons-wrapper{
		text-align:center;
		display:block;
	}
	.ty-add-to-wish,
	.ty-add-to-compare{
		display:block;
		min-height:@buttons_font_size * 1.7;
	}
	.ty-quick-view-button{
		visibility:visible;
		text-align:center;
	}
	.button-container{
		text-align:center;
		padding-top:10px;
	}
	padding-bottom:10px;
}

.ty-icon-mcs-grid-i {
    font-family: 'glyphs';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.ty-icon-mcs-grid-i:before {
    content: "\e012";
}

/* /mcs_grid_i */


/* ==========================================================================
mcs_grid_i_scroller
========================================================================== */

.mcs-grid-i-scroller {
	&.owl-theme .owl-controls .owl-buttons div{
		position:absolute;
		top:40%;
		line-height:12px;
		padding:10px 12px 7px;
		text-align:center;
		.border-radius(0);
	}
	.owl-prev{
		left:10px;
	}
	.owl-next{
		right:10px;
	}
}

/* /mcs_grid_i_scroller */