.mcs-vendor-wishlist__message{
	.vs-button{
		color: #ffffff;
		margin-right: 1px;
		text-decoration: none;
		display:inline-block;
		background: @grid_icon_add_wishlist_bkg;
		cursor:default;
		i{
			display:block;
			padding:0px 3px 2px 3px !important;
			&:before{
				font-size:20px !important;
			}
		}
	}
}
.mcs-vendor-wishlist{
	border:1px solid lighten(@base,43%);
	margin-bottom:20px;
}
.mcs-vendor-list{
	width:80%;
	display:inline-block;
	vertical-align:middle;
	margin-right:-0.25em;
}
.mcs-vendor-list__item {
	margin:10px;
	position:relative;
}
.mcs-vendor-list{
	.ty-twishlist-item {
		height: auto; 
		margin-bottom: 0; 
		position: absolute;
		z-index: 5;
		right: 5px;
		top:3px;
		display:none;
	}
	.mcs-vendor-list__item:hover .ty-twishlist-item{
		display:block;
	}
	.ty-remove__txt{
		display:none;
	}
}
.mcs-vendor-list__image {
	position: relative;
	border: 1px solid #ebebeb;
	background: #fff;
	text-align: center;
	img,.no-image{
		padding-bottom:1px;
		max-width: 100%;
		height: auto;
		vertical-align: middle;
		font-size: 0;
	}
}

.mcs-vendor-list__buttons-form{
	width:20%;
	display:inline-block;
	vertical-align:middle;
	margin-right:-0.25em;
	text-align:center;
}
.mcs-vendor-list__buttons{
	margin:10px 10px 10px 0;
	text-align:center;
}
.mcs-vendor-list__buttons .ty-btn{
	margin:5px 0;
}
.mcs-vendor-list__buttons{
	.button-wrap-left{
		margin-top:5px;
		&:last-child{
			margin-left:5px;
			margin-bottom:5px;
		}
	}
}

.mcs-vendor-list .ty-column10{
	padding:0;
}
@media (min-width:768px) and (max-width: 1006px){
	.mcs-vendor-list__buttons-form{
		width:100%;
	}
	.mcs-vendor-list__buttons{
		margin:10px;
		padding:5px;
		background:lighten(@base,43%);
	}
}
@media (max-width: 767px) {
	.mcs-vendor-list{
		width:100%;
		.ty-column10{
			width:20%;
		}
	}
	.mcs-vendor-list__buttons-form{
		width:100%;
	}
	.mcs-vendor-list__buttons{
		margin:10px;
		padding:5px;
		background:lighten(@base,43%);
	}
}

/******* wishlist view ************/
.mcs-wishlist-view .feature-image{
	text-align:center;
	.mcs-producer-link{
		margin-top:5px;
		a:hover{
			text-decoration:none;
			.transition(all 0.5s ease);
			color:@secondary_button;
		}
		
	}
}
.mcs-vendor-wishlist__buttons > span{
	margin-right:5px;	
}