@rounded_corners: on;
@links: #1abc9c;
@menu_links: #444444;
@menu: #ffffff;
@base: #808080;
@font: #333333;
@primary_button: #1abc9c;
@secondary_button: #d9d9d9;
@sidebar: #ffffff;
@price: #757575;
@discount_label: #62ad00;
@in_stock: #62ad00;
@out_of_stock: #a80006;
@top_panel_links: #0088cc;
@top_panel_text: #555555;
@footer_text: #efefef;
@decorative: #1abc9c;
@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;
@top_panel_bg_color: #e9e9e8;
@top_panel_bg: repeat scroll;
@top_panel_bg_grad_stop: #e9e9e8;
@top_panel_bg_full: transparent;
@top_panel_bg_color_full: transparent;
@top_panel_bg_grad_stop_full: transparent;
@header_bg_color: #ffffff;
@header_bg: repeat scroll;
@header_bg_grad_stop: #ffffff;
@header_bg_full: transparent;
@header_bg_color_full: transparent;
@header_bg_grad_stop_full: transparent;
@content_bg_color: #efe8e6;
@content_bg: repeat scroll;
@content_bg_full: transparent;
@content_bg_color_full: transparent;
@content_bg_grad_stop_full: transparent;
@footer_bg_color: #444444;
@footer_bg: repeat scroll;
@footer_bg_grad_stop: #444444;
@footer_bg_full: transparent;
@footer_bg_color_full: transparent;
@footer_bg_grad_stop_full: transparent;
@body_font: Open Sans;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: Open Sans;
@headings_font_size: 26px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: bold;
@links_font: Open Sans;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: Open Sans;
@price_font_size: 36px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: normal;
@buttons_font: Open Sans;
@buttons_font_size: 11px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: bold;
/*CUSTOMCSS*/
.tygh-top-panel > div.container-fluid,
.tygh-header > div.container-fluid,
.tygh-content > div.container-fluid,
.tygh-footer > div.container-fluid{
	max-width:@fluidContainerMaxWidth;
}

.container-fluid > .row-fluid{
	padding:0 10px;
	box-sizing:border-box;
}
.mcs-full-width > div > .row-fluid{
	padding:0 10px !important;
	box-sizing:border-box;
}

@media only screen and (min-width: 768px) {

.tygh-top-panel > [class*="container"],
.tygh-header > [class*="container"],
.tygh-content > [class*="container"],
.tygh-footer > [class*="container"]{
	border:1px solid;
	border-color:lighten(@base,33%);
}
.tygh-header > [class*="container"],
.tygh-content > [class*="container"],
.tygh-footer > [class*="container"]{
	border-top:none;
}

}
/*/CUSTOMCSS*/
/*GFONTS*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

/*/GFONTS*/
