@rounded_corners: on;
@links: #1abc9c;
@menu_links: #444444;
@menu: #ffffff;
@base: #808080;
@font: #333333;
@primary_button: #1abc9c;
@secondary_button: #d9d9d9;
@sidebar: #ffffff;
@price: #000000;
@discount_label: #62ad00;
@in_stock: #62ad00;
@out_of_stock: #a80006;
@top_panel_links: #000000;
@top_panel_text: #000000;
@footer_text: #efefef;
@decorative: #1abc9c;
@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;
@top_panel_bg_color: #e8e8e9;
@top_panel_bg: repeat scroll;
@top_panel_bg_grad_stop: #e8e8e9;
@top_panel_bg_full: repeat scroll;
@top_panel_bg_color_full: #e8e8e9;
@top_panel_bg_grad_stop_full: #e8e8e9;
@header_bg_color: #ffffff;
@header_bg: repeat scroll;
@header_bg_grad_stop: #ffffff;
@header_bg_full: repeat scroll;
@header_bg_color_full: #ffffff;
@header_bg_grad_stop_full: #ffffff;
@content_bg_color: #efe8e6;
@content_bg: repeat scroll;
@content_bg_full: transparent;
@content_bg_color_full: #efe8e6;
@content_bg_grad_stop_full: transparent;
@footer_bg_color: #444444;
@footer_bg: repeat scroll;
@footer_bg_grad_stop: #444444;
@footer_bg_full: repeat scroll;
@footer_bg_color_full: #444444;
@footer_bg_grad_stop_full: #444444;
@body_font: Open Sans;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: Open Sans;
@headings_font_size: 26px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: bold;
@links_font: Open Sans;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: Open Sans;
@price_font_size: 36px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: normal;
@buttons_font: Open Sans;
@buttons_font_size: 11px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: bold;

/*CUSTOMCSS*/

/*/CUSTOMCSS*/

