#mcs_payment_icons {
	font-size:0;
	letter-spacing:-1px;
}

#mcs_payment_icons img{
	margin:5px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

#mcs_payment_icons.bw img{
  -webkit-filter: grayscale(100%);
}
 
#mcs_payment_icons.bw_hover img:hover {
  -webkit-filter: grayscale(100%);
}

#mcs_payment_icons.color_hover img:hover {
  -webkit-filter: grayscale(0%);
}

#mcs_payment_icons.blur_hover img:hover {
	-webkit-filter: blur(1px);
}

#mcs_payment_icons.rotate_hover img:hover {
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}