.tygh-header > [class*="container"],
.tygh-content > [class*="container"],
.tygh-footer > [class*="container"]{
	border-color:lighten(@base,33%);
}

.mainbox-title span{
	color:@decorative;
}

.add-buttons{
	color:@links;
}

.mainbox2-container{
	border-color:lighten(@base,15%);
}

.mainbox2-title span{
	.mcs_button_text_color(lighten(@base, 15%));
}
