*{
	text-transform:none !important;
}

.mcs-centered{
	float:none !important;
	max-width:960px !important;
	margin:auto !important;
}

.mcs-expanded{
	float:none !important;
	max-width:1200px !important;
	margin:auto !important;
}
/*********************** homepage *******************************/
.tygh-top-panel > [class*="container"]{
	padding:0;
}
.tygh-header > [class*="container"],
.tygh-content > [class*="container"],
.tygh-footer > [class*="container"]{
	border:1px solid;
	padding:0;
}
/*.tygh-footer > [class*="container"]{
	padding:0 15px;
}*/
.tygh-header > [class*="container"],
.tygh-content > [class*="container"]{
	border-bottom:none;
}

.button-submit-action.button-wrap-left, 
.button-submit.button-wrap-left, 
.button-action.button-wrap-left, 
.button.button-wrap-left, 
.button-submit-big.button-wrap-left, 
.button-big.button-wrap-left {
	border: none;
}
/**************************************************************/
.breadcrumbs{
	margin-bottom:0;
	padding-right:111px;
}

.breadcrumbs .breadcrumbs-icon{
	font-size:125%;
	vertical-align:baseline;
}
.breadcrumbs .product-switcher{
	right:6px;
}

/*********************** mainbox2 *******************************/
.mainbox2-container{
	margin:1px 0 0 0;
	border-bottom:3px solid;
}

.mainbox2-title{
	padding:0;
	border:none;
}

.mainbox2-title span{
	display:inline-block;
	padding:10px;
	font-size:100%;
}

.mainbox2-body{
	padding:20px 0;
	margin-top:1px;
}
/***************************************************************/

/*********************** wishlist ******************************/
.wishlist_view .main-content-grid{
	padding:15px;
}
/***************************************************************/
