.tygh-header > [class*="container"],
.tygh-content > [class*="container"],
.tygh-footer > [class*="container"]{
	border-color:lighten(@base,33%);
}

.mainbox-title span{
	color:@decorative;
}

.add-buttons{
	color:@links;
}