.minicart-title{
	padding-left:0;
}
.popup-title.unlogged a,
.popup-title.logged a{
	padding-left:5px;
}
.popup-title.unlogged a:first-child, 
.popup-title.logged a:first-child{
	padding-left:0px;
}
.popup-title.logged .icon-user,
.popup-title.unlogged .icon-user{
	position:relative;
	padding:0;
	top:0;	
}