.ty-tabs{
	#description, #features, #attachments, #product_tab_11, #product_inquiry{
		.ty-tabs__a:before{
			font-family:"icomoon";
			vertical-align:bottom;
			margin-right:5px;
			font-size:150%;
		}
	}
	#description .ty-tabs__a:before{
		content: "\e298";
	}
	#features .ty-tabs__a:before{
		content: "\e29d";
	}
	#attachments .ty-tabs__a:before{
		content: "\e2d7";
	}
	#product_tab_11 .ty-tabs__a:before{
        content: "\e260";
    }
    #product_inquiry .ty-tabs__a:before{
        content: "\e48f";
    }
	.ty-tabs__a{
		padding-bottom:5px;
	}
}

.ty-accordion{
	#description, #features, #attachments, #product_tab_11, #product_inquiry{
		&:before{
		font-family:"icomoon";
		vertical-align:bottom;
		margin-right:5px;
		font-size:150%;
		}
	}
	#description:before{
		content: "\e298";
	}
	#features:before{
		content: "\e29d";
	}
	#attachments:before{
		content: "\e2d7";
	}
    #product_tab_11 .ty-tabs__a:before{
        content: "\e260";
    }
    #product_inquiry .ty-tabs__a:before{
        content: "\e48f";
    }
}