.ty-product-filters{
	.ty-icon-ok, .ty-icon-cancel, .ty-filter-icon{
		font-family:"icomoon";
	}
	
	.ty-icon-ok:before {
		content: "\e438";
		color:@links;
	}
	
	.ty-icon-cancel:before{
		content: "\e365";
		color:red;
	}
	
	.ty-filter-icon:before {
		content: "\e439";
	}
	
	.ty-filter-icon{
		width:auto;
		height:auto;
		border:none;
		.border-radius(0);
		font-size:inherit;
		background:none;
		top:1px;
	}
	
	.ty-filter-icon__check, .ty-filter-icon__delete{
		top:2px;
		left:0;
		margin:0;
		width:auto;
		height:auto;
		font-size:inherit;
	}
}
