/******************************* base.css ************************************/


/****************************** styles.css ***********************************/


/***************************** dropdown.css **********************************/


/****************************** scheme.less **********************************/

.top-links-grid .dropdown-box .cm-popup-title.logged .icon-user, 
.top-links-grid .dropdown-box .cm-popup-title.logged a, 
.top-links-grid .dropdown-box .logged .icon-down-micro {
	color: @top_panel_text;
}
.top-links-grid .dropdown-box .cm-popup-title .icon-user, 
.top-links-grid .dropdown-box .cm-popup-title a, 
.top-links-grid .dropdown-box .icon-down-micro {
	color: lighten(@top_panel_text, 15%);
}
.top-links-grid .dropdown-box.dropdown-box-on .cm-popup-title > a, 
.top-links-grid .dropdown-box .cm-popup-title:hover i, 
.top-links-grid .dropdown-box.dropdown-box-on .cm-popup-title i, 
.top-links-grid .dropdown-box.dropdown-box-on .cm-popup-title.logged > a, 
.top-links-grid .dropdown-box .cm-popup-title.logged:hover i, 
.top-links-grid .dropdown-box.dropdown-box-on .cm-popup-title.logged i {
	color: @font;
}
.dropdown-box .icon-down-micro {
    color: lighten(@base, 20%);
}
/****************************** MY CUSTOMS ***********************************/
