.mcs_sistina ul.products {
	/*margin: 0 0 1em;*/
	padding: 0;
	list-style: none outside;
	clear: both;
}
.mcs_sistina ul.products:after {
	content: "";
	display: block;
	clear: both;
}
.mcs_sistina ul.products li {
	list-style: none outside;
}

.mcs_sistina ul.products li.first {
	clear: both;
	margin-left:0;
}
.mcs_sistina ul.products li.first_offset {
	margin-left:3%;
}
.mcs_sistina ul.products li.last {
	margin-right: 0;
}
.mcs_sistina ul.products li.product {
	position: relative;
	margin-bottom: 30px;
}
/* hover feature */
.mcs_sistina ul.products li.product .product-wrapper {
	border: 1px solid #E6E6E6;
	border-bottom-width: 0;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mcs_sistina ul.products li.product .product-meta {
	border-top: 1px solid #E6E6E6;
}
.mcs_sistina ul.products li.product:hover .product-meta {
	border-bottom: 1px solid #E6E6E6;
	border-top: 0;
}
.mcs_sistina ul.products li.product:hover .product-meta-wrapper {
}
/*.mcs_sistina ul.products li.product .grid-add-to-cart {
	position: absolute;
	right: 15px;
	bottom: 15px;
}
.mcs_sistina ul.products li.product .grid-add-to-cart a.button {
	background: #c56304 url('../images/sprite.png') no-repeat 5px -145px;
	display: block;
	padding: 0;
	margin: 0;
	width: 29px;
	height: 29px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.mcs_sistina ul.products li.product:hover .grid-add-to-cart {
	display: none;
}
.mcs_sistina ul.products li.product:hover a.button {
	text-align: center;
	display: inline-block;
	float: none;
	margin: 0 auto;
}
.mcs_sistina ul.products li.product:hover h3, 
.mcs_sistina ul.products li.product:hover .price {
	text-align: center;
	float: none;
}*/
.mcs_sistina ul.products li.product .product-wrapper, 
.mcs_sistina ul.products li.product .product-meta-wrapper {
	padding: 10px;
	margin: 0px 0px -6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.mcs_sistina ul.products li.product:hover .product-wrapper, 
.mcs_sistina ul.products li.product .product-meta-wrapper {
	-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.33);
	-moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.33);
	box-shadow: 1px 1px 6px rgba(0,0,0,0.33);
}
/* show meta on hover */
@media (min-width:768px){
.mcs_sistina ul.products li.product:hover {
	z-index: 250;
}
.mcs_sistina ul.products li.product .product-wrapper, 
.mcs_sistina ul.products li.product .product-meta-wrapper {
	background: #fff;
}
.mcs_sistina ul.products li.product .product-meta {
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	height: 20px;
	background: #fff;
}
.mcs_sistina ul.products li.product .product-meta-wrapper {
	padding: 10px;
	border-top: 0;
	/*visibility: hidden;*/
	overflow: hidden;
	border: solid #E6E6E6;
	border-width: 0 1px 1px;
	
	text-align:center;
}
.mcs_sistina ul.products li.product:hover .product-meta-wrapper {
	visibility: visible;
}
.mcs_sistina ul.products li.product .product-meta-wrapper:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	height: 2px;
	background: #fff;
	border: solid #E6E6E6;
	border-width: 0 1px;
}
.mcs_sistina ul.products li.product .product-wrapper {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

/*.mcs_sistina .fadein:hover .progress-bar{
	-webkit-animation: fullexpand 2s ease-out infinite;
   	-moz-animation: fullexpand 2s ease-out infinite;
   	animation: fullexpand 2s ease-out infinite;
}*/
}
/* transitions */
.mcs_sistina ul.products li.product.grid .product-wrapper, .mcs_sistina ul.products li.product.grid.add-hover .product-meta-wrapper {
/*-webkit-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
       -moz-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        -ms-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
         -o-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
            transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);  */
}
.mcs_sistina ul.products li.product.grid.add-hover .product-meta-wrapper {
/* -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    transition: all linear 0.1s;
    -webkit-backface-visibility: hidden;*/  /* fixes webkit flickering after transitions*/
}

.mcs_sistina ul.products li.product .product-wrapper .thumb-discount-label{
	position:absolute;
	padding:7px 14px;
	z-index:1;
	right:0px;
	top:2px;
}

.mcs_sistina ul.products li.product .product-wrapper h3{
	white-space:nowrap;
	overflow:hidden;
}

.mcs_sistina ul.products li.product:hover .product-wrapper h3{
	/*white-space:normal;
	overflow:visible;*/
}

.mcs_sistina ul.products li.product:hover form{
	text-align:center;
}

.mcs_sistina .prod_img {
	position: relative;
	//height: 160px;
	text-align:center;
}

/*.mcs_sistina .multi_img a img, 
.mcs_sistina .list_tmp img{
	max-width:100%;
	height:auto;	
}
.mcs_sistina .multi_img a,
.mcs_sistina .list_tmp img {
	position: absolute;
	top: 0;
	left: 0;
	right:0;
}

.mcs_sistina .progress-bar { 
	position: absolute;
	margin-left:10%;
	bottom:0px;
	width: 0%; 
	height: 5px;
//	background: #ec3787;
	z-index:500;
}*/

/*@-webkit-keyframes fullexpand
{
	0%	{width:0%;opacity:0;}
	80%	{width:80%;opacity:0.7;}
	100%{width:80%;opacity:0.7;}
}

@-moz-keyframes fullexpand
{
	0%	{width:0%;opacity:0;}
	80%	{width:80%;opacity:0.7;}
	100%{width:80%;opacity:0.7;}
}

@keyframes fullexpand
{
	0%	{width:0%;opacity:0;}
	80%	{width:80%;opacity:0.7;}
	100%{width:80%;opacity:0.7;}
}*/
.icon-mcs-products-multicolumns{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-mcs-products-multicolumns:before{content:"\e2a4";}

.mcs_sistina .quick-view{
	visibility:visible;
	text-align:inherit;
}
@media(max-width:767px){
.mcs_sistina ul.products li.product .product-actions {
	position: static;
}
.mcs_sistina ul.products li.product .product-thumbnail {
	padding-bottom: 0;
	border-bottom: 0;
}
.mcs_sistina ul.products li.product h3, 
.mcs_sistina ul.products li.product .price {
	float: none;
	text-align: center;
}
.mcs_sistina ul.products li.product .product-meta {
	border-top: 0;
	border-bottom: 0 !important;
}
.mcs_sistina ul.products li.product .grid-add-to-cart {
	display: none;
}
.mcs_sistina ul.products li.product .product-wrapper {
	border-bottom-width: 1px;
}

.mcs_sistina ul.products li.product .product-meta-wrapper {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.mcs_sistina ul.products li.product form{
	text-align:center;
}
}