.mcs_search{
	position:relative;
	text-align:center;
}
.mcs_search *{
	box-sizing:border-box !important;
	-ms-box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.mcs_search .mcs_search_button i{
	font-size:1.5em;
}
.mcs_search .search-block{
	border:1px solid #e6e6e6;
	//display:none;
	position:absolute;
	z-index:999;
	background-color:#fff;
	box-shadow:0px 3px 13px 0px rgba(0,0,0,0.2);
	left:-289px;
}
.mcs_search .search_box{
	margin:16px;
	position:relative;
	line-height:30px;
	height:40px;
	width:300px;
}

.mcs_search .search-input{
	border:1px solid #e6e6e6;
	width: 100%;
	position: relative;
	padding: 5px 47px 5px 5px;
	z-index: 1;
	margin: 0;
	box-shadow: none;
	display:block;
	height:100%;
}

.mcs_search .search-magnifier{
	width: 40px;
	height: 100%;
	line-height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	background-color:@base;
}