.menu-fixed{
	position:fixed;
	width:100%;
	z-index:450;
}

.menu-fixed.scrolled-up .top-menu{
	line-height:46px !important;
}

.menu-fixed.scrolled-up ul.dropdown-multicolumns li a.drop,
.menu-fixed.scrolled-up ul.dropdown-multicolumns li.nodrop a{
	line-height:44px !important;
}

.menu-fixed.scrolled-up .dropdown-1column, 
.menu-fixed.scrolled-up .dropdown-2columns, 
.menu-fixed.scrolled-up .dropdown-3columns, 
.menu-fixed.scrolled-up .dropdown-4columns,
.menu-fixed.scrolled-up .dropdown-5columns,
.menu-fixed.scrolled-up .dropdown-fullwidth{
	top:46px !important;
}