.mcs-brands-page .mcs-list-filter ul li{
	float:left;
	padding:0px;
	margin:2px;
	background-color:darken(@base, 5%);
}
.mcs-brands-page .mcs-list-filter ul li a{
	display:block;
	width:34px;
	line-height:34px;
	text-align:center;
	.mcs_text_color(darken(@base, 5%));
}
.mcs-brands-page .mcs-list-filter ul li.active,
.mcs-brands-page .mcs-list-filter ul li:hover{
	background-color:@links;
	.transition(all 150ms);
	a{
		.mcs_text_color(@links);
	}
}

.mcs-brands-page .mcs-brands-row > .subheader{
	margin-bottom:5px;
	font-size:200%;
}
.mcs-brands-page .brand-box{
	padding:0;
	text-align:center;
	margin-bottom:20px;
}
.mcs-brands-page .brand-box.with-image:hover{
	.box-shadow(0px 0px 15px 0px #cccccc);
	.transition(all 150ms);
}
.mcs-brands-page .brand-box.first{
	margin-left:0;
}
.mcs-brands-page .brand-image{
	height:100px;
	text-align:center;
	line-height:100px;
	margin-bottom:5px;
}
.mcs-brands-page .brand-image .no-image{
	height:100%;
	margin-bottom:5px;
}
.mcs-brands-page .brand-image img{
	max-width:95%;
	max-height:95%;
	width:auto;
	height:auto;
	margin:auto;
	display:inline-block;
}
.mcs-brands-page .brand-name{
	display:block;
	padding:10px 10px 0;
	border-top:1px solid;
	border-color: darken(@base, 5%);
}
.mcs-brands-page .brand-name:hover{
	text-decoration:underline;
}
.mcs-brands-page .brand-url{
	min-height:1.5em;
	padding-bottom:8px;
	:hover{
		text-decoration:underline;
	}
}
.mcs-brands-page .brand-url a{
	color:darken(@font,15%);
}