/********************** GENERAL ***********************************/
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=greek);

@border_color:darken(@base,20%);

.tygh-header,
.tygh-content,
.tygh-footer{
	.container-fluid > .row-fluid{
		border:1px solid;
		border-color:@border_color;
	}
}
.tygh-header,
.tygh-content,
.tygh-footer{
	.container-fluid > .row-fluid{
		border-top:none;
	}
}
.tygh-header .container-fluid > .row-fluid:first-child{
	border-top:1px solid @border_color;
}
.tygh-footer .container-fluid > .row-fluid:last-child{
	border:none;
}

@media (max-width:767px){
.tygh-header .container-fluid > .row-fluid{
	border-bottom-color:darken(@decorative,5%);
}
}

/*******************************************************************/

/********************** TOP PANEL ****************************/

.top-links-grid{
	height:34px;
}
.ty-text-links{
	line-height:30px;
}
.top-links-grid .ty-text-links__a{
	color:@top_panel_links;
	&:hover{
		color:@links;
	}
}

@media (max-width:767px){
.top-links-grid{
	height:auto;
}
.top-links-grid .ty-icon-down-micro{
	display:none;
}
.top-links-grid .ty-dropdown-box__title{
	border-left-color:@border_color;
}
.top-links-grid .top-panel-logo .ty-logo-container__image{
	padding:3px 0px 0px 0;
	max-height:38px;
	height:auto !important;
	width:auto !important;
}
.top-panel-links{
	.ty-dropdown-box__title{
		padding-top:14px;
		padding-bottom:10px;
		a{
			font-size:0px;
			&:before{
				content:"\e022";
				font-size:13px;
				font-family: glyphs;
				padding: 0px 5px;
			}
		}
	}
	.ty-dropdown-box__content{
		right:0px;
		width:298px;
		padding:10px;
		
	}
}
.ty-dropdown-box__title{
	padding:12px 13px;
}
.top-cart-content{
	margin:0;
}
.top-cart-content .ty-dropdown-box__title{
	padding:12px 15px 12px 11px;
}
.mcs_phone .ty-minicart-title.empty-cart{
	display:none;
}
.ty-minicart-title{
	padding-left:0px;
}
.ty-minicart__icon{
	position:inherit;
}
.top-panel-search .ty-dropdown-box__title{
	padding:9px 12px 6px 12px;
}
.top-panel-search__button a{
	font-size:20px;
	.ty-icon-down-micro{
		top:1px;
		left:2px;
	}
}
.top-panel-search .ty-search-block__input,
.top-panel-search .ty-dropdown-box__content{
	height:34px;
	border-color:@decorative;
}
.top-panel-search .ty-dropdown-box__content{
	width:318px;
}
}
@media (max-width:479px){
.top-panel-links .ty-dropdown-box__content{
	right:-159px;
}
.top-links-grid .top-cart-content .ty-dropdown-box__content{
	right:-69px;
}
.top-panel-search .ty-dropdown-box__content{
	right:-116px;
	width:318px;
}
}

/*************************************************************/

/************************ HEADER ****************************/
.ty-logo-container{
	margin-top:0;
}
.ty-logo-container__image {
	padding:15px 0 20px;
}
.motto{
	margin-left: 15px;
	margin-top: 68px;
}
.motto p {
	padding:0;
	color: #ccc;
	font-size: 24px;
	font-weight:bold;
}
.motto .accent {
	color:@decorative;
}
.search-block-grid{
	margin-top:20px;
}
.search-block-grid .ty-search-block__input{
	float:right;
	width:277px;
	border:2px solid transparent;
	height:34px;
	background:@base;
	color:@font;
}
.ty-search-magnifier {
	background:@decorative;	
	width:auto;
	height:auto;
	top:2px;
	right:2px;
	font-size:100%;
	padding:6px 7px 3px;
}
.ty-search-magnifier i{
	font-size:19px;
	color:#fff;
}
.search-block-grid .ty-search-block__input:focus{
	width:95%;
	font-size:100%;
	.transition(all 1s ease-in-out);
	border-color:@decorative;
}

.cart-content-grid{
	margin-top:15px;
}
.ty-dropdown-box__title a,
.ty-dropdown-box__title.logged a,
.ty-minicart__icon,
.ty-dropdown-box .ty-icon-down-micro {
    color: @font;
	.transition(none);
}
.ty-dropdown-box__title:hover,
.ty-dropdown-box__title.logged.open{
	a,i
	{
		color: #fff;
	}
}
.ty-dropdown-box__title:hover,
.ty-dropdown-box__title.open {
    background: @decorative;
}
.ty-dropdown-box__content .ty-dropdown-box__item{
	&:hover{
		.transition(none);
		background:none;
		a{
			color:@decorative;
		}
	}
	a{

		.transition(none);
		color:@font;
	}
}
.ty-dropdown-box__content .ty-account-info__buttons{
	margin-top:0;
}
.ty-menu__items{
	background:#fff;
}
.ty-menu__items:hover{
	background:@menu;
	.transition(all 100ms);
}
.no-touch .ty-menu__item:hover .ty-menu__item-link,
.is-hover-menu .ty-menu__item-link,
.is-hover-menu.ty-menu__item-active .ty-menu__item-link,
.ty-menu__item.ty-menu__item-active .ty-menu__item-link {
    background: transparent;
    color: @decorative;
}
.ty-menu__submenu-items{
	background:@base;
	border-top:1px solid;
	border-color:darken(@menu,20%);
}
.ty-menu__submenu-items .ty-menu__submenu-link {
    color: @menu_links;
}
.no-touch .ty-menu__submenu-items .ty-menu__submenu-link:hover {
    color: @links;
}
.ty-menu__submenu-item-header .ty-menu__submenu-link {
    color: @menu_links;
}
.ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item-active a{
	color:@decorative;
	background:none;
	padding:0;
}
@media (min-width:768px){

.ty-menu__item:before{
	content:"/";
	display: inline-block;
	font-size: 120%;
	color:@border_color;
}
.ty-menu__item:nth-child(2):before{
	content:"";
}
.ty-menu__item .ty-menu__item-link{
	padding:12px 10px 12px 8px;
	display:inline-block;
	font-weight:bold;
	min-height:30px;
}
.mcs-menu-i .ty-menu__submenu-items .ty-top-mine__submenu-col{
	width:auto;
}
}

@media (max-width:850px){
.motto{
	margin-top:72px;
}
.motto p{
	font-size:20px;
}
}

@media (max-width:767px){
.logo-search-grid{
	min-height:0px;
}
.ty-logo-container__image{
	padding-bottom:5px;
	padding-top:5px;
}
.top-logo,
.motto{
	float:none;
	text-align:center;
}
.top-logo{
	margin-left:-15px;
}
.motto{
	margin-left:15px;
	margin-top:0;
	margin-bottom:5px;
}
.ty-logo-container{ margin:0;}
.search-block-grid{
	margin:10px 0px 0px !important;
	padding-bottom:10px;
}
.search-block-grid .ty-search-block{
	width:280px;
	margin:auto;
}
.search-block-grid .ty-search-block__input{
	float:none;
	width:100%;
	margin:auto;
	padding-right:43px;
}
.search-block-grid .ty-search-block__input:focus{
	width:99%;
}
.mcs_computer .top-cart-content .hidden-phone,
.mcs_computer .top-my-account .hidden-phone{
	display:inherit !important;
}
.cart-content-grid{
	margin-top:0;
	text-align:center;
}
.cart-content-grid .top-cart-content,
.cart-content-grid .top-my-account{
	float:none;
	display:inline-block;
}
.cart-content-grid .top-cart-content .ty-dropdown-box__content{
	right:auto;
}
.ty-menu__items{
	background:@decorative;
}
.ty-menu__item{
	border-bottom-color:darken(@decorative,8%);
}
.ty-menu__items:hover{
	background:@decorative;
	.transition(none);
}
.no-touch .ty-menu__item:hover .ty-menu__item-link,
.is-hover-menu .ty-menu__item-link,
.is-hover-menu.ty-menu__item-active .ty-menu__item-link,
.ty-menu__item.ty-menu__item-active .ty-menu__item-link {
    background: transparent;
    color: #fff;
}
.ty-menu__item-toggle{
	color:@base;
}
.ty-menu__item .ty-menu__item-link{
	color:#fff;
}
.ty-menu__item .ty-menu__item-toggle-active{
	background:darken(@decorative,5%);
}
.ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__submenu-item-header-active,
.ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__item-toggle-active{
	background:none;
}
.ty-menu__submenu-items{
	border:none;
}

}
/***************************************************************/


/********************** MCS BANNER ****************************/
.banners.owl-theme .owl-controls .owl-buttons div{
	position:absolute;
	top:40%;
	line-height:12px;
	text-align:center;
	.border-radius(0);
}
.banners .owl-prev{
	left:10px;
	padding:6px 15px 2px 13px !important;
}
.banners .owl-next{
	right:10px;
	padding:6px 13px 2px 15px !important;
}
.banners .owl-prev i,
.banners .owl-next i{
	font-size:40px;
}
.banners{
    &.owl-theme,
    &.owl-theme .owl-controls{
        margin:0;
    }
    &.owl-theme{
        border-bottom:3px solid darken(@base,25%);
    }
}
/***************************************************************/


/************************** FOOTER *****************************/
.ty-footer-grid{
	.ty-mainbox-title,
	.mcs-responsive-wrapper__header{
		font-weight:normal;
		border-bottom-color:#dadcde;
	}
}
.ty-footer-grid__full-width{
	padding-left:0px !important;
	padding-right:0px !important;
}
.footer-stay-connected {
    background: @base;
    color: @font;
}
.ty-footer-form-grid {
	padding:0 20px;
}
.ty-footer-form-block {
    color: @font;
}
.ty-footer-form-block__title {
    color: @font;
}
.ty-footer-social-links{
	padding:0 20px;
}
h3.ty-social-link__title{
	color: @font;
}
.ty-social-link a,
.ty-social-link i{
	color: @links;
}
.footer-copyright {
	background-color: @footer_bg;
	padding:12px 0;
}
.ty-footer-menu .mcs-responsive-wrapper__body .ty-text-links__a{
	color:@footer_text;
	&:hover{
		color:@links;
	}
}
/***************************************************************/

/*********************** BREADCRUMBS *******************************/
.ty-breadcrumbs{
	padding-left:10px;
	padding-right:125px;
	padding-top:10px;
	margin-bottom:0;
}
.ty-product-switcher{
	right:15px;
	top:12px;
}
@media (max-width: 767px){
	.ty-breadcrumbs{
		padding-right:10px;
	}
	.ty-product-switcher{
		right:0;
		top:5px;
	}
}
/*******************************************************************/

/************************* MAINBOX *********************************/
.mainbox-container{
	padding-top:15px;
}
/****************************************************************/

/*********************** MAINBOX2 *******************************/
.mainbox2-container{
    margin:0px 0 0 0;
	border-bottom:3px solid darken(@base,25%);
}
.mainbox2-title span{
	display:inline-block;
	padding:10px;
	font-size:100%;
}

.mainbox2-title span{
    background:darken(@base, 25%);
	.mcs_text_color(darken(@base, 25%));
}
/***************************************************************/

/*************************** SIDEBOX ***************************/
.ty-sidebox{
	margin-bottom:0px;
	border-right:1px solid;
	border-bottom:1px solid;
	border-color:@border_color;
}
.ty-sidebox__title{
	padding-top:7px;
	padding-left:10px;
	margin-bottom:0px;
	border:none;
}
.ty-sidebox__title-wrapper, 
.ty-sidebox__title span, 
.ty-sidebox__title a{
	font-weight:normal;
	font-size:15px;
	color:@font;
}
.ty-product-filters{
	padding-top:0px;
}
.ty-product-filters__title{
	font-size:15px;
}
.ty-product-filters__wrapper {
    background: transparent;
}
.ty-product-filters__switch{
	border:none;
}
.ty-range-slider .ui-slider-handle{
	background:darken(@menu, 20%);
}
@media (max-width:767px){
.ty-sidebox{
	border-right:none;
}
}
/***************************************************************/

/******************* CATEGORIES  *******************************/
@media (min-width:768px){
.categories_view .main-content-grid{
	padding-right:20px;
}
}
.ty-subcategories__item a{
	padding:4px 17px;
	border:1px solid;
	border-color:@tertiary_button;
	color:darken(@tertiary_button,10%);
	display:block;
	.transition(all 150ms);
	&:hover{
		background:@tertiary_button !important;
		.mcs_text_color(darken(@tertiary_button,10%));
	}
}
.mcs-grid-i-list__control .ty-add-buttons-wrapper .ty-btn__text{
	color:darken(@tertiary_button,10%);
	&:hover{
		color:@links;
	}
}
/***************************************************************/

/********************* PRODUCTS ********************************/
.ty-product-block{
	margin:0px;
}
.ty-product-img{
	border:none;
}
.ty-product-block__img-wrapper{
	border-right:1px solid @border_color;
}
.ty-product-thumbnails{
	text-align:center;
	width:100% !important;
}
.ty-product-thumbnails__item{
	float:none;
	display:inline-block;
	border-color:@border_color;
}
.ty-product-thumbnails__item.active {
    border-color:darken(@base,40%);
}
.ty-product-block__left{
	padding-top:15px;
	padding-right:20px;
}
.ty-product-block-title{
	font-size:26px;
}
.ty-add-to-wish{
	margin:0;
}
.ty-product-block__button .ty-btn__text{
	padding:4px 17px;
	border-color:@tertiary_button;
	color:darken(@tertiary_button,10%);
	.transition(all 150ms);
	&:hover{
		background:@tertiary_button !important;
		.mcs_text_color(darken(@tertiary_button,10%));
	}
}
.products_view{
	.ty-tabs{
		margin-top:0px;
		border-top:1px solid @border_color;
	}
	.ty-tabs__item, 
	.ty-tabs .subtab{
		margin-top:0px;
		margin-right:0px;
	}
	.ty-tabs__content{
		padding:15px 20px;
	}
}
@media (max-width:767px){
.products_view{
	.ty-accordion .ui-accordion-header{
		margin:0px;
	}
	.ty-accordion .ui-accordion-content{
		padding:10px;
		
	}
}
.ty-product-block__img-wrapper{
	border:none;
	padding:0 10px;
	box-sizing:border-box;
}
.ty-product-block__left{
	padding:0 10px;
}
.content-product_inquiry{
	input[type="text"], input[type="password"], textarea, select{
		width:100%;
	}
}
}
/***************************************************************/

/*********************** SORTING *******************************/
.ty-sort-container{
	background:transparent;
}
.ty-sort-dropdown__wrapper{
	border:2px solid transparent;
	border-right:3px solid transparent;
	padding-right:0px;
	background:@base;
	&:hover,
	&.open{
		border-color:@decorative;
		background:#fff;
		color:@decorative;
		.ty-sort-dropdown__icon{
			background:@decorative;
			.mcs_text_color(@decorative);
		}
	}
}
.ty-sort-dropdown__icon{
	padding:10px 13px 7px;
	margin-left:10px;
	background:darken(@base,30%);
	.mcs_text_color(darken(@base,30%));
	.transition(all 150ms);
}
.ty-sort-dropdown__content-item-a{
	color:@font;
	&:hover{
		background:none;
		color:@links;
	}
}
.ty-sort-container__views-a{
	&:hover,
	&.active:hover{
		background:@decorative;
		.mcs_text_color(@decorative);
	}
	&.active{
		background:darken(@base,30%);
		.mcs_text_color(darken(@base,30%));
	}
}
/***************************************************************/

/************************ PAGINATION ***************************/
.ty-pagination__item:hover{
	background:darken(@base,30%);
	.mcs_text_color(darken(@base,30%));
}
.ty-pagination__item .ty-pagination__text-arrow{
	display:none;
}
.ty-pagination__btn:hover{
	.mcs_text_color(darken(@base,30%));
}
.ty-pagination__item, 
.ty-pagination__selected{
	.border-radius(0px);
}

/***************************************************************/

/********************** PRODUCT OPTIONS ************************/
.ty-product-options{
	background:@base;
	padding:10px;
	
	.ty-product-options__item-label,
	.ty-input-text,
	.ty-product-options__textarea,
	select{
		width:100%;
	}
	.ty-product-variant-image{
		margin-left:0;
	}
	.ty-product-options__description{
		.mcs_text_color(@base);
		margin-left:0;
	}
	.ty-product-options__image{
		border-color:@border_color;
		&.is-selected{
			border-color:@decorative;
		}
	}
}
/***************************************************************/

/************************ MCS-TABS *****************************/
.mcs-tabs-grid{
	padding:0 !important;
	.mcs-tab-button.ui-tabs-active{
		a, &:hover a{
			color:#fff;
			cursor:pointer !important;
		}
		&:hover{
			background: darken(@base, 20%);
		}
	}
	.mcs-tab-button{
		margin:0 !important;
		padding-bottom:0 !important;
		a, &:hover a{
			color:#7c7e80;
		}
	}
}
/***************************************************************/

/********************** CHECKOUT *******************************/
.checkout_checkout{
	.main-content-grid{
		padding-left:20px;
	}
	.ty-checkout__title{
		margin-top:0;
	}
	.ty-order-summary{
		margin-top:0;
	}
	.ty-sidebox{
		border-right:none;
		border-left:1px solid @border_color;
	}
}
/***************************************************************/

/********************** BRAND SCROLLER *************************/
.brand-box a{
	color:@font;
	&:hover{
		color:@links;
	}
}
/***************************************************************/