/* TOP PANEL */
.tygh-top-panel { 
    border-bottom:1px solid darken(@base,10%);
}
.top-panel-logo .ty-logo-container__image{
	padding:4px 5px;
	max-height:26px;
	width:auto !important;
}
.top-panel-search .ty-dropdown-box__title{
	padding:9px 12px 6px 8px;
}
.top-panel-search__button a{
	font-size:20px;
	.ty-icon-down-micro{
		top:1px;
		left:2px;
	}
}
.top-panel-search .ty-search-block__input,
.top-panel-search .ty-dropdown-box__content{
	height:50px;
	border-color:@decorative;
}
.ty-dropdown-box__title {
	border-left-color:darken(@base,10%);
}
.ty-dropdown-box__title a,
.ty-dropdown-box__title.logged a,
.ty-minicart__icon,
.ty-dropdown-box .ty-icon-down-micro {
    color: @top_panel_text;
}
.ty-dropdown-box__title:hover,
.ty-dropdown-box__title.logged.open{
	a,i
	{
		color: #fff;
		.transition(all 150ms);
	}
}
.ty-dropdown-box__title:hover,
.ty-dropdown-box__title.open {
    background: @decorative;
	.transition(all 200ms);
}
.ty-dropdown-box__content{
	border-color:darken(@base,10%);
}
@media (max-width:767px){
.top-panel-logo .ty-logo-container__image{
	padding:11px 10px;
	max-height:30px;
	height:auto !important;
	width:100px !important;
}
.ty-dropdown-box__title{
	padding-top:12px;
	padding-bottom:12px;
}
.top-cart-content{
	margin:0;
}
.ty-minicart-title.empty-cart{
	display:none;
}
.ty-minicart__icon.empty{
	position:inherit;
}
.top-panel-search .ty-dropdown-box__content{
	width:318px;
}
}
@media (max-width:479px){
.top-cart-content .ty-dropdown-box__content{
	right:-69px;
}
.top-panel-search .ty-dropdown-box__content{
	right:-126px;
	width:318px;
}
}
/*/ TOP PANEL */


/* HEADER */
.top-menu-grid { 
	background:@menu;
}
.ty-logo-container{
	margin-top:0;
}
.ty-logo-container__image {
	padding:15px 0 20px;
}
.motto{
	margin-left: 15px;
	margin-top: 43px;
}
.motto p {
	padding:0;
	color: #ccc;
	font-size: 21px;
}

.search-block-grid{
	margin-top:25px;
}
.search-block-grid .ty-search-block__input{
	float:right;
	width:250px;
	border:2px solid transparent;
	height:50px;
	background:@base;
	color:@font;
	font-size:110%;
}
.ty-search-magnifier {
	background:@decorative;	
	width:auto;
	height:auto;
	top:4px;
	right:4px;
	font-size:100%;
	padding:6px 9px 4px;
	}
.ty-search-magnifier i{
	font-size:30px;
	color:#fff;
}
.search-block-grid .ty-search-block__input:focus{
	width:95%;
	font-size:100%;
	.transition(all 1s ease-in-out);
}
.search-block-grid .ty-search-block__input:focus+button {
	background: @decorative;
	.transition(all 1s ease-in-out);
}

@media (max-width:1000px){

.ty-logo-container__image{
	padding-bottom:5px;
	padding-top:5px;
}
.motto{
	margin-top:0px;
	margin-left:35px;
	margin-bottom:5px;
}

}

@media (max-width:767px){
.logo-search-grid{
	min-height:0px;
}
.top-logo,
.motto{
	float:none;
	text-align:center;
}
.top-logo{
	margin-left:-15px;
}
.motto{
	margin-left:15px;
}
.ty-logo-container{ margin:0;}
.search-block-grid{
	margin:10px 0px 0px !important;
	padding-bottom:10px;
}
.search-block-grid .ty-search-block{
	width:280px;
	margin:auto;
}
.search-block-grid .ty-search-block__input{
	float:none;
	width:100%;
	margin:auto;
	padding-right:43px;
}

.search-block-grid .ty-search-block__input:focus{
	width:99%;
}

}
/*/ HEADER */


/* MCS BANNER */
.banners.owl-theme .owl-controls .owl-buttons div{
	position:absolute;
	top:40%;
	line-height:12px;
	text-align:center;
	.border-radius(0);
}
.banners .owl-prev{
	left:10px;
	padding:6px 15px 2px 13px !important;
}
.banners .owl-next{
	right:10px;
	padding:6px 13px 2px 15px !important;
}
.banners .owl-prev i,
.banners .owl-next i{
	font-size:40px;
}
/*/ MCS BANNER */


/* FOOTER */
.tygh-footer{
	border-top:1px solid darken(@base, 10%);
}
.ty-footer-grid__full-width{
	padding-left:0px !important;
	padding-right:0px !important;
}
.footer-stay-connected {
    background: @base;
    color: @font;
}
.ty-footer-form-block {
    color: @font;
}
.ty-footer-form-block__title {
    color: @font;
}
h3.ty-social-link__title{
	color: @font;
}
.ty-social-link a,
.ty-social-link i{
	color: @links;
}
.footer-copyright {
	background-color: darken(@footer_bg, 9%);
}
/*/ FOOTER */