/* GENERAL */
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=greek);

.tygh-top-panel,
.tygh-header,
.tygh-content,
.tygh-footer{
	.container-fluid > .row-fluid{
		border:1px solid;
		border-color:darken(@base,20%);
	}
}
.tygh-header,
.tygh-content,
.tygh-footer{
	.container-fluid > .row-fluid{
		border-top:none;
	}
}

/*********************** breadcrumbs *******************************/
.ty-breadcrumbs{
	padding-left:10px;
	padding-right:125px;
}
.ty-product-switcher{
	right:15px;
}
@media (max-width: 767px){
.ty-breadcrumbs{
	padding-right:10px;
}
.ty-product-switcher{
	right:0;
}
}
/*******************************************************************/

/*********************** mainbox2 *******************************/
.mainbox2-container{
    margin:0px 0 0 0;
	border-bottom:3px solid darken(@base,25%);
}
.mainbox2-title span{
	display:inline-block;
	padding:10px;
	font-size:100%;
}

.mainbox2-title span{
    background:darken(@base, 25%);
	.mcs_text_color(darken(@base, 25%));
}
/***************************************************************/

/*********************** sidebox ************************/
.ty-sidebox{
	margin-bottom:0px;
	border-right:1px solid;
	border-bottom:1px solid;
	border-color:darken(@base,20%);
}
.ty-sidebox__title{
	padding-top:7px;
	padding-left:10px;
	margin-bottom:0px;
	border:none;
}
.ty-sidebox__title-wrapper, 
.ty-sidebox__title span, 
.ty-sidebox__title a{
	font-weight:normal;
	font-size:15px;
	color:@font;
}
.ty-product-filters{
	padding-top:0px;
}
.ty-product-filters__title{
	font-size:15px;
}
.ty-product-filters__wrapper {
    background: transparent;
}
.ty-product-filters__switch{
	border:none;
}
.ty-range-slider .ui-slider-handle{
	background:darken(@menu, 20%);
}
/*******************************************************/

/*/ GENERAL */

/* TOP PANEL */

/*/ TOP PANEL */


/* HEADER */
.ty-logo-container{
	margin-top:0;
}
.ty-logo-container__image {
	padding:15px 0 20px;
}
.motto{
	margin-left: 15px;
	margin-top: 43px;
}
.motto p {
	padding:0;
	color: #ccc;
	font-size: 21px;
	font-weight:bold;
}
.motto .accent {
	color:@decorative;
}
.search-block-grid{
	margin-top:20px;
}
.search-block-grid .ty-search-block__input{
	float:right;
	width:250px;
}
.ty-search-magnifier {
	color:@font;
}

.search-block-grid .ty-search-block__input:focus{
	width:95%;
	font-size:100%;
	.transition(all 1s ease-in-out);
	border-color:@decorative;
}

.cart-content-grid{
	margin-top:20px;
}
.ty-dropdown-box__title a,
.ty-dropdown-box__title.logged a,
.ty-minicart__icon,
.ty-dropdown-box .ty-icon-down-micro {
    color: @top_panel_text;
}
.ty-dropdown-box__title.logged.open{
	a,i
	{
		color: #fff;
		.transition(none);
	}
}
.ty-dropdown-box__title.open {
    background: @decorative;
}
.ty-dropdown-box__content{
	border-color:darken(@decorative,10%);
}

.ty-menu__items{
	background:#fff;
}
.ty-menu__items:hover{
	background:@menu;
	.transition(all 100ms);
}
.no-touch .ty-menu__item:hover .ty-menu__item-link,
.is-hover-menu .ty-menu__item-link,
.is-hover-menu.ty-menu__item-active .ty-menu__item-link,
.ty-menu__item.ty-menu__item-active .ty-menu__item-link {
    background: transparent;
    color: @decorative;
}
.ty-menu__submenu-items{
	background:@base;
	border-top:1px solid;
	border-color:darken(@menu,20%);
}
.ty-menu__submenu-items .ty-menu__submenu-link {
    color: @menu_links;
}
.no-touch .ty-menu__submenu-items .ty-menu__submenu-link:hover {
    color: @links;
}
.ty-menu__submenu-item-header .ty-menu__submenu-link {
    color: @menu_links;
}
.ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item-active a{
	color:@decorative;
	background:none;
	padding:0;
}
@media (min-width:768px){

.ty-menu__item:before{
	content:"/";
	display: inline-block;
	font-size: 120%;
	color:darken(@base,20%);
}
.ty-menu__item:nth-child(2):before{
	content:"";
}
.ty-menu__item .ty-menu__item-link{
	padding-left:8px;
	padding-right:10px;
	display:inline-block;
}

}

@media (max-width:1000px){

.ty-logo-container__image{
	padding-bottom:5px;
	padding-top:5px;
}
.motto{
	margin-top:0px;
	margin-left:35px;
	margin-bottom:5px;
}

}

@media (max-width:767px){
.logo-search-grid{
	min-height:0px;
}
.top-logo,
.motto{
	float:none;
	text-align:center;
}
.top-logo{
	margin-left:-15px;
}
.motto{
	margin-left:15px;
}
.ty-logo-container{ margin:0;}
.search-block-grid{
	margin:10px 0px 0px !important;
	padding-bottom:10px;
}
.search-block-grid .ty-search-block{
	width:280px;
	margin:auto;
}
.search-block-grid .ty-search-block__input{
	float:none;
	width:100%;
	margin:auto;
	padding-right:43px;
}
.search-block-grid .ty-search-block__input:focus{
	width:99%;
}
.ty-menu__items{
	background:@menu;
}
.ty-menu__item-toggle{
	color:@decorative;
}
.ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__submenu-item-header-active,
.ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__item-toggle-active{
	background:none;
}
.ty-menu__submenu-items{
	border:none;
}

}
/*/ HEADER */


/* MCS BANNER */
.banners.owl-theme .owl-controls .owl-buttons div{
	position:absolute;
	top:40%;
	line-height:12px;
	text-align:center;
	.border-radius(0);
}
.banners .owl-prev{
	left:10px;
	padding:6px 15px 2px 13px !important;
}
.banners .owl-next{
	right:10px;
	padding:6px 13px 2px 15px !important;
}
.banners .owl-prev i,
.banners .owl-next i{
	font-size:40px;
}
.banners{
    &.owl-theme,
    &.owl-theme .owl-controls{
        margin:0;
    }
    &.owl-theme{
        border-bottom:3px solid darken(@base,25%);
    }
}
/*/ MCS BANNER */


/* FOOTER */
.ty-footer-grid__full-width{
	padding-left:0px !important;
	padding-right:0px !important;
}
.footer-stay-connected {
    background: @base;
    color: @font;
}
.ty-footer-form-block {
    color: @font;
}
.ty-footer-form-block__title {
    color: @font;
}
h3.ty-social-link__title{
	color: @font;
}
.ty-social-link a,
.ty-social-link i{
	color: @links;
}
.footer-copyright {
	background-color: darken(@footer_bg, 9%);
}
/*/ FOOTER */

/* CATEGORIES  */
.categories_view .main-content-grid{
	padding-right:20px;
}
/*/ CATEGORIES */

/* PRODUCTS */
.ty-product-block{
	margin-top:0px;
}
.ty-product-img{
	border:none;
}
.ty-product-block__img-wrapper{
	border-right:1px solid darken(@base,20%);
}
.ty-product-thumbnails{
	text-align:center;
	width:100% !important;
}
.ty-product-thumbnails__item{
	float:none;
	display:inline-block;
	border-color:darken(@base,20%);
}
.ty-product-thumbnails__item.active {
    border-color:darken(@base,40%);
}
.ty-product-block-title{
	font-size:26px;
}
.products_view .ty-tabs{
	margin-top:0px;
	border-top:3px solid darken(@base,20%);
}
.products_view .ty-tabs__item, 
.products_view  .ty-tabs .subtab{
	margin-top:0px;
	margin-right:0px;
}
/*/ PRODUCTS */