.mcs-menu-i{
	.ty-menu__submenu-to-right .ty-menu__submenu-items{
		right:auto;
	}
	.mcs-brands-list.ty-menu__submenu-dropdown-bottom{
		text-align:left;
		padding:0;
		
		.ty-menu__brands{
			display:inline-block;
			&:last-child{
				margin-bottom:10px;
			}
		}
		.brand-image{
			padding:4px;
			border:1px solid darken(@base,20%);
			background:#fff;
			margin:10px 0 0 10px;
			&:hover{
				border-color:@decorative;
			}
		}
		.ty-menu__brands-more{
			padding:10px 10px;
		}
	}

	.mcs-category-img{
		width:100%;
		height:100px;
	}
	
	.mcs-category-img img{
		max-width:100%;
		height:auto;
		max-height:100%;
		display:block;
		margin:auto;
	}
}

@media (max-width: 979px) and (min-width: 768px){
	.mcs-menu-i .ty-menu__submenu-items .ty-top-mine__submenu-col{
		margin-right:10px;
		&:last-child{
			margin-right:1px;
		}
	}
}

@media (min-width: 768px){
	.mcs-menu-i{
		.ty-menu__submenu-items{
			padding:10px 11px;
		}
		.ty-menu__submenu-items .ty-top-mine__submenu-col{
			padding:5px;
			.box-sizing(border-box);
		}
		.ty-menu__submenu-dropdown-bottom{
			margin:0 -11px -10px;
		}
	}
}