[class^="mcs-brand-scroller-"] .brand-box{
	border-color: lighten(@base,25%);
}
[class^="mcs-brand-scroller-"] .brand-box:hover{
	.drop-shadow(1px, 1px, 15px ,0 ,0.33);
}
[class^="mcs-brand-scroller-"] .brand-image{
	border-color: lighten(@base,25%);
}

[class^="mcs-brand-scroller-"] .brand-name{
	color:@font;
}

[class^="mcs-brand-scroller-"] .brand-name:hover{
	color:@links;
	text-decoration:underline;
}