.top-menu{
	margin-top:0;
}
ul.dropdown-multicolumns > li.active {
	background-color: lighten(@menu, 100%);
	.border-radius(0px);
}

.dropdown-1column, 
.dropdown-2columns, 
.dropdown-3columns, 
.dropdown-4columns,
.dropdown-5columns,
.dropdown-fullwidth,
ul.dropdown-multicolumns {
	border:none;
	.border-radius(0px);
	margin:0px auto;
	padding:0;
}

.dropdown-1column, 
.dropdown-2columns, 
.dropdown-3columns, 
.dropdown-4columns,
.dropdown-5columns,
.dropdown-fullwidth{
	.drop-shadow (0, 10px, 10px, 0, 0.3);
}

.dropdown-multicolumns li .drop-left,
ul.dropdown-multicolumns > li:hover,
ul.dropdown-multicolumns > li.nodrop:hover {
	background-color: #fff;
	.border-radius(0px);
	padding:0;
}

ul.dropdown-multicolumns li a {
	text-shadow: none;
	color: @menu_links;
}
ul.dropdown-multicolumns li.active a,
ul.dropdown-multicolumns li:hover a {
	color: darken(@menu, 40%);
}

ul.dropdown-multicolumns > li > a > i{
	display:none;
}

ul.dropdown-multicolumns li a,
ul.dropdown-multicolumns li:hover a,
ul.dropdown-multicolumns li.nodrop:hover a{
	padding:8px;
	border:none;
}

ul.dropdown-multicolumns li .drop, 
ul.dropdown-multicolumns li:hover .drop {
	padding-right: 8px;
}
ul.dropdown-multicolumns li a.drop, 
ul.dropdown-multicolumns li.nodrop a {
	font-size:100%;
}

ul.dropdown-multicolumns li {
	margin: 5px 0 0 0;
}

ul.dropdown-multicolumns >li >a,
ul.dropdown-multicolumns >li:hover >a,
ul.dropdown-multicolumns >li.nodrop:hover >a{
	border-left:1px solid #fff;
}

ul.dropdown-multicolumns >li:first-child >a,
ul.dropdown-multicolumns >li:first-child:hover >a{
	border:none;
}

ul.dropdown-multicolumns > li > div > div.col-1,
ul.dropdown-multicolumns > li > ul > li.col-1{
	padding:10px 0;
}

ul.dropdown-multicolumns h3 {
	margin-bottom: 0px;
	padding: 5px 0;
	color: @menu_links;
	min-height:1em;
	border:none;
}
ul.dropdown-multicolumns > li > ul{
	margin:0;
	padding-top:0px;
}
ul.dropdown-multicolumns > li > ul > li ul{
	padding-left:5px;
}

ul.dropdown-multicolumns li:hover .alt-link a, 
ul.dropdown-multicolumns li:hover .dropdown-bottom a{
	color:@links;
}

