.add-buttons{
	color:@links;
}

.mainbox2-container{
	border-color:lighten(@base,15%);
}

.mainbox2-title span{
	.mcs_button_text_color(lighten(@base, 15%));
}

@media only screen and (max-width: @fluidContainerMaxWidth) {

.mcs_computer .mainbox2-body .mcs_i_scroller .bx-wrapper{
	margin-right:10px !important;	
}

}

/****************************************************************************/

/*Headings*/

.wysiwyg-content  h1
{font-size:@headings_font_size;}
.wysiwyg-content h1>span,
.wysiwyg-content h1>span>i,
.wysiwyg-content h1>a
{font-size:100% !important;}

.wysiwyg-content  h2
{font-size:@headings_font_size - 4;}
.wysiwyg-content h2>span,
.wysiwyg-content h2>a
{font-size:100%;}

.wysiwyg-content  h3
{font-size:@headings_font_size - 6;}
.wysiwyg-content h3>span,
.wysiwyg-content h3>a
{font-size:100%;}

.wysiwyg-content  h4
{font-size:@headings_font_size - 8;}
.wysiwyg-content h4>span,
.wysiwyg-content h4>a
{font-size:100%;}

.wysiwyg-content  h5
{font-size:@headings_font_size - 10;}
.wysiwyg-content h5>span,
.wysiwyg-content h5>a
{font-size:100%;}

/*Breadcrumbs*/
.breadcrumbs a:hover:after{
	color:@base;	
}
.breadcrumbs a:hover >span{
	color:@links;
}

/*Mainbox general*/
.mainbox-title,
.mainbox-title span{
//	.mcs_text_color(@decorative);
}
h1.mainbox-title{
//	background-color:@decorative;
}

/*Sidebox general*/

.sidebox-wrapper .sidebox-title{
	background:@sidebar;
	filter:none;
}
.sidebox-wrapper .sidebox-title,
.sidebox-wrapper .sidebox-body {
	border:none;
	.mcs_no_shadow;
	background-color:@sidebar;
}

.sidebox-wrapper .sidebox-body{
	.mcs_sidebox_text(@sidebar);
}

/*Sidebox important*/

.sidebox-important-wrapper .sidebox-title{
	background:@decorative;
	filter:none;
}
.sidebox-important-wrapper .sidebox-title,
.sidebox-important-wrapper .sidebox-body {
	border:none;
	.mcs_no_shadow;
	background-color:@decorative;
}

.sidebox-important-wrapper .sidebox-body{
	.mcs_sidebox_text(@decorative);
}

/*Search results page*/
.section-title {
	background: lighten(@base,41%);
	filter:none;
	border-color:lighten(@base,41%);
}
.section-title span{
	.mcs_no_text_shadow;
}
.section-body, 
.section-body-details{
	.mcs_no_shadow;
	border-color:lighten(@base,41%);
}

.quick-view-wrap .left-side{
	margin-right:10px;
}
.quick-view-wrap .product-info{
	padding-left:10px;
}

/*Pop up dialog */
.ui-dialog .ui-dialog-titlebar,
.notification-content-extended h1, 
.cm-paging-dots a.active i, 
.cm-paging-dots a.active:hover i {
	background:#fff;
	filter:none;
}

div.ui-dialog .ui-dialog-title,
.ui-widget-header .ui-icon-closethick,
.notification-content-extended h1,
.notification-content-extended h1 span{
	.mcs_text_color(#fff);
}
.ui-widget-header .ui-dialog-titlebar-close.ui-state-hover span:before,
.notification-content-extended h1 span:hover {
	color:lighten(#000, 50%);
}
.product-notification-body,
.product-notification-buttons,
.object-container{
	border-left:none;
	border-right:none;
	border-bottom:none;
}
/************************ buttons ********************************/

.button-submit-action.button-wrap-left,
.button-submit.button-wrap-left,
.button-action.button-wrap-left,
.button.button-wrap-left, 
.button-submit-big.button-wrap-left,
.button-big.button-wrap-left {
	.border-radius (0px);
}
.go-button {
	.border-radius (0);
}
.button-submit.button-wrap-left,
.button.button-wrap-left,
.go-button {
	background:@secondary_button;
	filter:none;
	.mcs_no_shadow;
	border-color:@secondary_button;
	.button_text (@secondary_button);
	.mcs_no_text_shadow;
}
.button-submit.button-wrap-left:hover,
.button.button-wrap-left:hover,
.go-button:hover  {
	background:@secondary_button;
	filter:none;
	.mcs_no_shadow;
	border-color: @secondary_button;
}
.button-submit.button-wrap-left:hover:active,
.button.button-wrap-left:hover:active,
.go-button:active {
	background:darken(@secondary_button, 5%);
	filter:none;
	.mcs_no_shadow;
	border-color: darken(@secondary_button, 5%);
}
.button-action.button-wrap-left, 
.button-submit-action.button-wrap-left,
.button-submit-big.button-wrap-left,
.button-big.button-wrap-left,
.mcs_i_grid .mcs-wishlist span {
	background:@primary_button;
	filter:none;
	.mcs_no_shadow;
	border-color: @primary_button;
}
.button-action.button-wrap-left:hover, 
.button-submit-action.button-wrap-left:hover,
.button-submit-big.button-wrap-left:hover,
.button-big.button-wrap-left:hover,
.mcs_i_grid .mcs-wishlist span:hover {
	background:@primary_button;
	filter:none;
	.mcs_no_shadow;
	border-color: @primary_button;
}
.button-action.button-wrap-left:hover:active, 
.button-submit-action.button-wrap-left:hover:active,
.button-submit-big.button-wrap-left:hover:active,
.button-big.button-wrap-left:hover:active,
.mcs_i_grid .mcs-wishlist span:hover:active {
	background:darken(@primary_button,5%);
	filter:none;
	.mcs_no_shadow;
	border-color: darken(@primary_button, 5%);
}

.button-submit-action.button-wrap-left,
.button-action.button-wrap-left,
.qv-buttons-container .button-action.button-wrap-left,
.buttons-container .button-action.button-wrap-left,
.buttons-container-item .button-action.button-wrap-left,
.button-submit-big.button-wrap-right,
.sidebox-body .button-action.button-wrap-left,
.button-big.button-wrap-left,
.mcs_i_grid .mcs-wishlist span {
	.mcs_button_text_color (@primary_button);
	.mcs_no_text_shadow;
}

.go-button i{
	position:relative;
	top:0;
	left:0;
}
.mcs_i_grid .mcs-wishlist a:hover{
	text-decoration:none;
}
.mcs_i_grid .mcs-wishlist span.qty-out-of-stock,
.mcs_i_grid .mcs-wishlist span.qty-out-of-stock:hover,
.mcs_i_grid .mcs-wishlist span.qty-out-of-stock:hover:active{
	background:transparent;
}
.mcs-button{
	.mcs_button_text_color(@decorative);
	display:inline-block;
	padding:10px;
}

.mcs-button:hover{
	text-decoration:none;
	.mcs_button_text_color(#000);
}

/********************* buttons-container reset ***********************/
.buttons-container, 
.buttons-container-item, 
.checkout-buttons, 
.buttons-container.wrap, 
.login .body-bc, 
.details-block-box, 
.entry-page-countries li a:hover, 
.pagination-helper-container {
	background: transparent;
	padding-left:0;
	padding-right:0;
}

/*Block grouping*/

.mcs-accordion-grid .ui-accordion-header.ui-state-default{
	background:lighten(@base,41%);
}
.mcs-accordion-grid .ui-accordion-header.ui-state-active{
	background:lighten(@base,100%);
	border-color:lighten(@base,36%);
}
.mcs-accordion-grid .ui-accordion-header.ui-state-hover{
	background:lighten(@base,36%);
}

.input-append .input-text{
	.border-radius(0);
}

/*Default carousel*/
.owl-theme .owl-controls .owl-page span.owl-numbers,
.owl-theme .owl-controls .owl-buttons div{
	.border-radius(0);
}

/*no-items*/
.no-items{
	.mcs_no_shadow;
	.mcs_no_text_shadow;
}

/*Checkout*/
.step-title-active{
	background:@decorative;
	filter:none;
	border-color:@decorative;
	.mcs_no_shadow;
}
.step-title-active span.float-left{
	.mcs_neg_background_color(@decorative);
	color:@decorative;
}
.step-title-active .title{
	.mcs_text_color(@decorative);
}

.step-title-complete{
	.mcs_neg_background_color(@decorative);
}
.step-title-complete span.float-left{
	.mcs_neg_background_color(@decorative);
	color:@decorative;
}
h2.step-title-complete a.title,
h2.step-title-complete a.title:hover{
	.mcs_neg_text_color(@decorative);
}
.step-title-complete .button-tool a, 
.step-title-complete .button-tool a:visited{
	color:@decorative;
}

.step-title{
	.mcs_neg_background_color(@decorative);
}
.step-title span.float-left{
	background:@decorative;
	.mcs_text_color(@decorative);
}
.step-title span.title,
.step-title a.title{
	.mcs_neg_text_color(@decorative);
}

.step-title,
.step-title-active,
.step-title-complete{
	.border-radius(0);
	border-color:lighten(@base,41%);
}
.checkout-summary table tbody.total th, 
.order-products .edit-products{
	.border-radius(0);
	background:lighten(@base,45%);
	filter:none;
}
.checkout-summary table tbody.total th div{
	.mcs_text_color(lighten(@base,45%));
}

/*Orders*/
.mainbox-title .status,
.mainbox-title .date{
	.mcs_text_color(@decorative);
}

.table th, 
.orders-summary-wrap{
	background:lighten(@base,41%);
	filter:none;
	.border-radius(0);
	.mcs_no_shadow;
}

/*General Tables */
.table th, 
.table th a, 
.table th a:visited, 
.table th a:hover, 
.table th a:active{
	text-shadow:none;
	.mcs_text_color(lighten(@base,41%));
}

/*Onclick-dropdown*/
.popup-title{
	padding:6px 12px;
}
.popup-title:hover {
    .border-radius(0px);
}
.popup-title.open {
    .border-radius(0px);
}
.popup-content {
    .border-radius(0px);
}
.popup-content ul.account-info li a, 
.popup-content ul.account-info li span{
	.mcs_no_text_shadow;
}
.dropdown-box .buttons-container {
    .border-radius(0px);
}
a.account i{
	padding-right:5px;
}
a.account:hover i{
	color:@links;
}

/*Cart*/
.statistic-list-wrap{
	.mcs_no_shadow;
}

/*Compare list*/
.compare-menu ul li span{
	.border-radius(0);
	.mcs_no_shadow;
	background:lighten(@base,41%);
	filter:none;
}
.compare-menu ul li a:hover{
	.border-radius(0);
}

/* Default List with options Responsive */
.pagination-container .list .product-item-image img{border-color:lighten(@base,30%);}
.pagination-container .list + hr {border-color:lighten(@base,30%);}

/* Default Compact List Responsive */
.pagination-container table.table.products tr{background-color:transparent;}
.pagination-container table.table.products td.product-image img{border:1px solid lighten(@base,30%);}

/* Profile update page */
.form-wrap{
	.mcs_no_shadow;
}
.address-switch{
	.border-radius(0);
}