@media (max-width:959px){

.mcs-homepage-cta-grid{
	margin-top:20px !important;
}

}


@media only screen and (max-width: 767px) {

/*Homepage*/
/*.mcs-main-page .mcs-cta-grid,
.mcs-main-page .main-content-grid{
	padding:0 20px !important;
}*/

.mcs-homepage-cta{
	margin:0px;	
}

}