.mcs_enfold_grid ul.products {
	padding: 0;
	list-style: none outside;
	clear: both;
}
.mcs_enfold_grid ul.products li {
	list-style: none outside;
}

.mcs_enfold_grid ul.products li.first {
	clear: both;
	margin-left:0;
}
.mcs_enfold_grid ul.products li.first_offset {
	margin-left:3%;
}
.mcs_enfold_grid ul.products li.last {
	margin-right: 0;
}
.mcs_enfold_grid ul.products li.product {
	position: relative;
	margin-bottom: 30px;
}
.mcs_enfold_grid ul.products li.product .product-wrapper {
	border: 1px solid #e1e1e1;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mcs_enfold_grid ul.products li.product .product-wrapper{
	padding: 10px;
	margin: 0px 0px -6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.mcs_enfold_grid ul.products li.product:hover .product-wrapper{
	-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.33);
	-moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.33);
	box-shadow: 1px 1px 6px rgba(0,0,0,0.33);
}
.mcs_enfold_grid ul.products li.product .product_info{
	min-height:4em;	
}
.mcs_enfold_grid ul.products li.product .product_info h3{
	max-height:2.5em;
}
.mcs_enfold_grid ul.products li.product .features{
	min-height:4em;
}

.mcs_enfold_grid ul.products li.product .product-wrapper .thumb-discount-label{
	position:absolute;
	padding:7px 14px;
	z-index:1;
	right:0px;
	top:2px;
}

.mcs_enfold_grid .prod_img {
	position: relative;
	//height: 160px;
	text-align:center;
}

.icon-mcs-enfold-grid{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-mcs-enfold-grid:before{content:"\e2a4";}

/************************* reset buttons ******************************/
.mcs_enfold_grid .button{
	width:100%;
	height:100%;	
}
.mcs_enfold_grid .button.button-wrap-left,
.mcs_enfold_grid .button-action.button-wrap-left,
.mcs_enfold_grid .button-submit-action.button-wrap-left{
	border:none;
	background:none;
	background-color:#fff;
}
.mcs_enfold_grid .button.button-wrap-left:hover,
.mcs_enfold_grid .button-action.button-wrap-left:hover,
.mcs_enfold_grid .button-submit-action.button-wrap-left:hover{
	border:none;
	background:none;
	background-color:#fff;
}
.mcs_enfold_grid .button.button-wrap-left:hover:active,
.mcs_enfold_grid .button-action.button-wrap-left:hover:active,
.mcs_enfold_grid .button-submit-action.button-wrap-left:hover:active{
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	background:none;
	background-color:#fff;
}
.mcs_enfold_grid .button-wrap-right{
	margin:0;
}
.mcs_enfold_grid .button-wrap-right:hover a{
	margin:0;
}
.mcs_enfold_grid .button a{
	margin:0;
	text-transform:none;
	text-shadow:none;
}
.mcs_enfold_grid .button-action a{
	margin:0;
	text-transform:none;
	text-shadow:none !important;
}
.mcs_enfold_grid .button-submit-action input{
	margin:0;
	text-transform:none;
	text-shadow:none !important;
}
/*************************** buttons **********************************/

.mcs_enfold_grid .button a{
	padding:10px 0px;
	font-size:11px;
	text-align:center;
	color:#666;
	width:100%;
	border-right:1px solid;
	border-right-color:#e1e1e1;
}
.mcs_enfold_grid .button-action a{
	padding:10px 0px;
	font-size:11px;
	text-align:center;
	color:#666 !important;
	width:100%;
}
.mcs_enfold_grid .button-submit-action input{
	padding:10px 0px;
	font-size:11px;
	text-align:center;
	color:#666 !important;
	width:100%;
}
.mcs_enfold_grid .buttons-list-wrapper{
	height:auto;
	opacity:0.2;
	border-top:1px solid;
	border-top-color:#e1e1e1;	
}
.mcs_enfold_grid .product:hover .buttons-list-wrapper{
	opacity:1;	
}
.mcs_enfold_grid .quick-view{
	visibility:visible;
	display:inline-block;
	width:49%;
	height:100%;
}

.mcs_enfold_grid .add_cart_button{
	display:inline-block;
	width:49%;
	height:100%;	
}

.mcs_enfold_grid .add_cart_button span{
	width:100%;	
}
