.top-menu{
	line-height:90px;
	border-bottom:1px solid #e6e6e6;
	background-color:#fff;
}

.logo-container{
	min-height:10px;
};
.logo-container .logo{
	margin:0;
};

.dropdown-1column, 
.dropdown-2columns, 
.dropdown-3columns, 
.dropdown-4columns,
.dropdown-5columns,
.dropdown-fullwidth{
	top:90px !important;
	border:none;
}

.dropdown-1column, 
.dropdown-2columns, 
.dropdown-3columns, 
.dropdown-4columns,
.dropdown-5columns,
.dropdown-fullwidth,
ul.dropdown-multicolumns {
	border-color: darken(@menu, 0%);											/*border-color: darken(@menu, 10%);*/
}
ul.dropdown-multicolumns {
	.gradient (@menu, darken(@menu, 0%));										/*.gradient (@menu, darken(@menu, 16%));*/
	border-top-color: @menu;
	min-height:0px;
	padding:0;
	border:none;
	float:right;
}

ul.dropdown-multicolumns li{
	margin:0;
}
ul.dropdown-multicolumns > li.active {
//	background-color: lighten(@menu, 4%);
	border-bottom:2px solid;
	border-bottom-color:darken(@menu_links, 10%);
}
ul.dropdown-multicolumns > li:hover {
	background-color: #fff;
	border-bottom:2px solid;
	border-bottom-color:darken(@menu_links, 10%);
}
ul.dropdown-multicolumns li a {
	text-shadow:none;															/*text-shadow: 0 1px 0 darken(@menu, 30%);*/
	color: @menu_links;
	padding:0;
	margin:0;
	text-transform:none;
	vertical-align:baseline;
}

ul.dropdown-multicolumns li a .icon-down-micro{
	display:none;
}

ul.dropdown-multicolumns li drop,
ul.dropdown-multicolumns li:hover .drop,
ul.dropdown-multicolumns li.nodrop:hover{
	padding:0 13px;
	margin:0;
}

ul.dropdown-multicolumns li a.drop,
ul.dropdown-multicolumns li.nodrop a{
	text-transform:none;
	padding:0 13px;
	line-height:88px;
}

ul.dropdown-multicolumns li:hover a {
	color: darken(@menu_links, 10%);											/*color: darken(@menu, 30%);*/
	border:none;
}
ul.dropdown-multicolumns > li.active a{
	color: darken(@menu_links, 10%);
}
ul.dropdown-multicolumns li > div{
	margin:0;
	margin-top:-2px;
	border-top:2px solid;
	border-top-color:darken(@menu_links, 10%);
	box-shadow:0 30px 60px rgb(0,0,0,0.1);
	-webkit-box-shadow:0 30px 60px rgba(0,0,0,0.1);
}