.top-menu{
	line-height:90px;
	border-bottom:1px solid #e1e1e1;
	background-color:@menu;
	position:relative;
}

.logo-container{
	min-height:10px;
};
.logo-container .logo{
	margin:0;
};

.wrap-dropdown-multicolumns{
	position:static;
}

.dropdown-1column, 
.dropdown-2columns, 
.dropdown-3columns, 
.dropdown-4columns,
.dropdown-5columns,
.dropdown-fullwidth{
	top:90px !important;
	border:none;
}

.dropdown-1column, 
.dropdown-2columns, 
.dropdown-3columns, 
.dropdown-4columns,
.dropdown-5columns,
.dropdown-fullwidth,
ul.dropdown-multicolumns {
	border-color: darken(@menu, 0%);											/*border-color: darken(@menu, 10%);*/
}
ul.dropdown-multicolumns {
	.gradient (@menu, darken(@menu, 0%));										/*.gradient (@menu, darken(@menu, 16%));*/
	border-top-color: @menu;
	min-height:0px;
	padding:0;
	border:none;
	float:right;
}

ul.dropdown-multicolumns li{
	margin:0;
}
ul.dropdown-multicolumns > li.active {
//	background-color: lighten(@menu, 4%);
	border-bottom:2px solid;
	border-bottom-color:darken(@menu_links, 10%);
}

ul.dropdown-multicolumns > li:hover {
	background-color: #fff;
	border-bottom:2px solid;
	border-bottom-color:darken(@menu_links, 10%);
}
ul.dropdown-multicolumns li a {
	text-shadow:none;															/*text-shadow: 0 1px 0 darken(@menu, 30%);*/
	color: @menu_links;
	padding:0;
	margin:0;
	text-transform:none;
	vertical-align:baseline;
}

ul.dropdown-multicolumns li a .icon-down-micro{
	display:none;
}

ul.dropdown-multicolumns li drop,
ul.dropdown-multicolumns li:hover .drop,
ul.dropdown-multicolumns li.nodrop:hover{
	padding:0 13px;
	margin:0;
}

ul.dropdown-multicolumns li a.drop,
ul.dropdown-multicolumns li.nodrop a{
	text-transform:none;
	padding:0 13px;
	line-height:88px;
}

ul.dropdown-multicolumns li:hover a {
	color: darken(@menu_links, 10%);											/*color: darken(@menu, 30%);*/
	border:none;
}
ul.dropdown-multicolumns > li.active a{
	color: darken(@menu_links, 10%);
}
ul.dropdown-multicolumns li > div{
	margin:0;
	margin-top:-2px;
	border-top:2px solid;
	border-top-color:darken(@menu_links, 10%);
	box-shadow:0 30px 60px rgb(0,0,0,0.1);
	-webkit-box-shadow:0 30px 60px rgba(0,0,0,0.1);
}



/********************** TOP MENU - SUB MENU RESET *********************************/
.dropdown-multicolumns li:hover .dropdown-fullwidth{
	left:auto;
}
ul.dropdown-multicolumns li > div{
	padding:0;
}

ul.dropdown-multicolumns li > div .col-1{
	padding:0;
	margin:0;
}

ul.dropdown-multicolumns h3{
	padding:0;
	margin:0;
	border:none;
	min-height:0px;
}

ul.dropdown-multicolumns li > div .col-1 ul{
	margin:0;
}

ul.dropdown-multicolumns li > div .col-1 ul li{
	margin:0;
	float:none;
}

@col_width: 195px;
.dropdown-1column {width: @col_width;}
.dropdown-2columns {width: @col_width*2;}
.dropdown-3columns {width: @col_width*3;}
.dropdown-4columns {width: @col_width*4;}
.dropdown-5columns {width: @col_width*5;}
.dropdown-fullwidth {
    width: @col_width*6;
}

/************************** TOP MENU - SUB MENU **************************************/

ul.dropdown-multicolumns > li.edge{
	position:static !important;
}

ul.dropdown-multicolumns > li.edge:hover > div{
	right:0px;
	left:auto;
}
ul.dropdown-multicolumns li > div{
	opacity:0;
	transition:opacity 500ms ease-out;
	-moz-transition:opacity 500ms ease-out;
	-webkit-transition:opacity 500ms ease-out;
	
}
ul.dropdown-multicolumns li:hover > div{
	opacity:1;
}
ul.dropdown-multicolumns li > div,
ul.dropdown-multicolumns .fullwidth .dropdown-fullwidth{
	padding:20px 15px 30px;
}

ul.dropdown-multicolumns li > div .col-1{
	width:@col_width;
	padding:10px 0px;
}
ul.dropdown-multicolumns li > div h3{
	padding: 8px 0px;
}
ul.dropdown-multicolumns li:hover > div a{
	display:block;
	width:100%;
}
ul.dropdown-multicolumns li:hover > div a:hover{
	text-decoration:none;
}
ul.dropdown-multicolumns li > div h3 a{
	font-size:1.2em;
}
ul.dropdown-multicolumns li ul li{
	line-height: 23px;
	padding: 8px 0px;
	width:100%
}
ul.dropdown-multicolumns li ul li:hover{
	padding: 8px 0px;
}