.mcs-header{
	max-width:100%;
	padding:0 !important;
}

.mcs-centered{
	float:none !important;
	max-width:960px !important;
	margin:auto !important;
}

.logo-container .logo{
	margin-top:15px;
}

.motto p {
	margin-left: -40px;
	padding-top: 38px;
	font-weight: bold;
	color: #ccc;
	font-size: 24px;
	letter-spacing: -1px;
}

.motto span {
	font-weight: bold;
	font-size: 24px;
	letter-spacing: -1px;
}

.tygh-header .top-menu-grid{
	.gradient (@menu, darken(@menu, 5%));
	.drop-shadow(0,3px,7px,0,0.2);
}

.tygh-header .top-menu{
	width:960px !important;
	margin:auto !important;
}

.tygh-header ul.dropdown-multicolumns{
	border-left:none;
	border-right:none;
	.gradient (@menu, darken(@menu, 5%));
}

