.mean-container .mean-bar {
	background: @menu;
}

.mean-container a.meanmenu-reveal {
	color: #fff;
}

.mean-container a.meanmenu-reveal span {
	background: #fff;
}

.mean-container .mean-nav {
	background: @menu;
}

.mean-container .mean-nav ul li a {
	color: #fff;
	border-bottom: 1px solid #383838;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
	border-bottom: 1px solid #f1f1f1;
	border-bottom: 1px solid rgba(255,255,255,0.25);
}

.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}
