.search-block-grid{
	margin:0;
	padding:15px 15px 0 0;
}
.search-block-grid .search-input{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	float:right;
	width:200px;
}

.search-block-grid .search-input:focus{
	width:400px;
	font-size:125%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}