.mcs-vendor-wishlist{
	border:1px solid darken(@base,10%);
}
.mcs-vendor-list{
	width:80%;
	display:inline-block;
	vertical-align:middle;
	margin-right:-0.25em;
}
.mcs-vendor-list__item {
	margin:10px;
	position:relative;
}
.mcs-vendor-list{
	.ty-twishlist-item {
		height: auto; 
		margin-bottom: 0; 
		position: absolute;
		z-index: 5;
		right: 5px;
		display:none;
	}
	.mcs-vendor-list__item:hover .ty-twishlist-item{
		display:block;
	}
	.ty-remove__txt{
		display:none;
	}
}
.mcs-vendor-list__image {
	position: relative;
	border: 1px solid #ebebeb;
	background: #fff;
	text-align: center;
	img{
		padding-bottom:1px;
	}
}

.mcs-vendor-list__buttons-form{
	width:20%;
	display:inline-block;
	vertical-align:middle;
	margin-right:-0.25em;
	text-align:center;
}
.mcs-vendor-list__buttons{
	padding:5px;
	background:@base;
	margin:10px 10px 10px 0;
}
.mcs-vendor-list__buttons .ty-btn{
	margin:5px 0;
}


@media (max-width: 767px) {
	.mcs-vendor-list{
		width:100%;
		.ty-column10{
			width:20%;
		}
	}
	.mcs-vendor-list__buttons-form{
		width:100%;
	}
	.mcs-vendor-list__buttons{
		margin:10px;
	}
}