.top-menu.mcs-centered{
    padding:0 !important;
}
.top-menu .mcs-i-menu{
    margin:0 20px;
}
.category-img{
	width:100%;	
}

.category-img img{
	width:100%;
	height:auto;
}

.mcs-i-menu ul.dropdown-multicolumns li {
	cursor: pointer;
}

.mcs-i-menu ul.dropdown-multicolumns li .drop i{
	right:5px;
	top:10px;	
}

.mcs-i-menu .dropdown-multicolumns li:hover .dropdown-1column, 
.mcs-i-menu .dropdown-multicolumns li:hover .dropdown-2columns, 
.mcs-i-menu .dropdown-multicolumns li:hover .dropdown-3columns, 
.mcs-i-menu .dropdown-multicolumns li:hover .dropdown-4columns, 
.mcs-i-menu .dropdown-multicolumns li:hover .dropdown-5columns {
	left: 0px;
}

.mcs-i-menu ul.dropdown-multicolumns li .dropdown-fullwidth ul{
	margin:0;
}

.mcs-i-menu ul.dropdown-multicolumns > li > ul{
	margin:4px auto;
	padding-top:20px;
}
.mcs-i-menu ul.dropdown-multicolumns li ul li{
    width:100%;
}
.mcs-i-menu ul.dropdown-multicolumns > li > ul > li{
	margin-top:0px;
	margin-bottom:0px;
}
.mcs-i-menu ul.dropdown-multicolumns > li > ul > li:hover{
	margin:0px 10px 0px 0px;
	padding-bottom:10px;
}
.mcs-i-menu ul.dropdown-multicolumns > li > ul > li.firstcolumn:hover{
	margin-left:9px;	
}
.mcs-i-menu ul.dropdown-multicolumns > li > ul > li.lastcolumn{
	margin-right:10px;	
}
.mcs-i-menu ul.dropdown-multicolumns > li:hover > ul > li a{
	padding:0;
}
.mcs-i-menu ul.dropdown-multicolumns > li > ul > li > ul{
	margin-bottom:0px;
}
.mean-nav img{
	width:100%;
	height:auto;
}

.mean-container .mean-bar{
	z-index:1000 !important;
}
