.mcs-pages-side-menu{
	background-color:#fff;
	border-color:lighten(@base,35%);
}
.mcs-pages-side-menu ul.text-links,
.mcs-pages-side-menu li a{
	color:#404040;
}
.mcs-pages-side-menu li.active,
.mcs-pages-side-menu ul.text-links li.active a{
	color:darken(@decorative,5%);
}