ul.dropdown-multicolumns{
	background:none;
	background-color:@menu;
	border-color:lighten(@base, 33%);
	transition:background 0.5s;
	-o-transition:background 0.5s;
	-moz-transition:background 0.5s;
	-webkit-transition:background 0.5s;
}

ul.dropdown-multicolumns:hover{
	background-color:lighten(@base, 45%);
	transition:background 0.5s;
	-o-transition:background 0.5s;
	-moz-transition:background 0.5s;
	-webkit-transition:background 0.5s;
}

ul.dropdown-multicolumns > li.active {
	background-color: transparent;
	.border-radius(0px);
}

.dropdown-1column, 
.dropdown-2columns, 
.dropdown-3columns, 
.dropdown-4columns,
.dropdown-5columns,
.dropdown-fullwidth,
ul.dropdown-multicolumns {
	.border-radius(0px);
	border-color:lighten(@base, 33%);
}

.dropdown-1column, 
.dropdown-2columns, 
.dropdown-3columns, 
.dropdown-4columns,
.dropdown-5columns,
.dropdown-fullwidth{
	.drop-shadow (0, 2px, 2px, 0, 0.3);
}

.dropdown-multicolumns > li > ul,
.dropdown-multicolumns > li > div{
	background-color:lighten(@base, 45%);
}

.dropdown-multicolumns li .drop-left{
	.border-radius(0px);
}
ul.dropdown-multicolumns > li:hover,
ul.dropdown-multicolumns > li.nodrop:hover {
	.border-radius(0px);
	background-color:transparent;
	padding:0 0 5px 0;
	margin-bottom:0;
}
ul.dropdown-multicolumns >li:before{
	color:lighten(@base,33%);
}
ul.dropdown-multicolumns li a,
ul.dropdown-multicolumns li:hover ul li a{
	color: @menu_links;
}
ul.dropdown-multicolumns li.active > a,
ul.dropdown-multicolumns li:hover > a,
ul.dropdown-multicolumns li ul li.active > a,
ul.dropdown-multicolumns li ul li a:hover,
ul.dropdown-multicolumns li:hover ul li.alt-link a{
	color: @decorative;
}

ul.dropdown-multicolumns h3{
	color: @menu_links;
}

.dropdown-multicolumns li:hover .dropdown-fullwidth{
	border-top-color:lighten(@base, 33%);
}