/*Currencies*/
.select-wrap.languages a.active-element, 
.select-wrap.currencies a.active-element,
.select-popup {
    .border-radius(0);  
    .mcs_no_shadow;
}

.select-wrap.currencies a:hover{
	background:@decorative;
	.mcs_text_color(@decorative);
}
.select-wrap.languages a.active-element,
.select-wrap.languages a.active-element:hover, 
.select-wrap.currencies a.active-element,
.select-wrap.currencies a.active-element:hover{
	background:#fff;
	color:#000;
}

/*mcs-toolbar-menu*/
.tygh-top-panel .top-links-grid .mcs-toolbar-menu > ul > li ul{
	.border-radius(0);
}