[class^="mcs-brand-scroller-"] .brand-box:hover{
	.drop-shadow(0px, 0px, 15px ,0px ,0.20);
}
[class^="mcs-brand-scroller-"] .brand-name{
	color:@font;
	border-color: lighten(@base,41%);
}

[class^="mcs-brand-scroller-"] .brand-name:hover{
	color:@links;
}