.mcs-main-page .mainbox-container{
	margin-bottom:20px;
}

.homepage-banners{
	margin-top:0;
}

.mcs-homepage-cta-grid{
	margin-bottom:20px !important;
}

/*Welcome message*/
.welcome-msg h1{
	color:#777;
}
.welcome-msg h1 span i{
	position:relative;
	top:0;
}

.welcome-msg h1 span {
	text-transform:uppercase;
}

.welcome-msg h1,
.welcome-msg h2,
.welcome-msg h3
{
	text-align:center;
}

.welcome-msg a
{
	margin-top:20px;
}