.mcs-tabs-grid.ui-tabs{
	border-radius:0px;
	border:none;
	background: transparent;
	padding:0;
}

.mcs-tabs-grid .ui-tabs-nav {
	border-radius:0px;
	border: 0px;
	background: transparent;
	padding:0px;
	color: #000000;
}

.mcs-tabs-grid .ui-tabs-active{
	background:#fff;
	border-radius:0px;
}

.mcs-tabs-grid .ui-tabs-anchor:hover{
	background:#fff;
}

.mcs-tabs-grid .ui-tabs-panel{
	background: #ffffff;
	border-radius:0px;
}

@media (max-width:767px){
.mcs-tabs-grid .ui-tabs-nav{
	border:1px solid #fff;
}
.mcs-tabs-grid .ui-tabs-nav > li{
	float:none;
	margin:0;
}
.mcs-tabs-grid .ui-tabs-anchor{
	display:block;
	float:none !important;	
}
}