.mcs-homepage-cta{
	.drop-shadow(0, 0, 5px, 0, 0.5);
}
.mcs-homepage-cta:hover{
	.drop-shadow(0, 0, 10px, 0, 0.5);
}
.mcs-homepage-cta .read-more{
	background-color:darken(@decorative, 5%);
}

.mcs-homepage-cta:hover .read-more{
	background:none;
	color:@links;
}