.tygh-footer .cta-grid,
.tygh-footer .social-grid,
.tygh-footer .company-grid{
	border-color:@footer_text;
}
.footer-wrapper-body p.text-track {
	color:@footer_text;
}

/*Contact block*/
.mcs_contact_block{
	.text-pre p,.text-post p{
		color:@footer_text;
	}
}

