.homepage-banners{
	margin:0;
	border-bottom:3px solid;	
}
[class^="mcs_slider_"]{
	position:relative;	
}
[class^="mcs_slider_"] .bx-viewport{
	border:none;
	left:0;
}

[class^="mcs_slider_"] li{
	padding:0;	
}