.mcs-slider-text{
	position:absolute;
	left: 0;
	right: 0;
	background:#000;
	opacity:0.75;
	bottom:20px;
	text-align:center;
	width:500px;
	margin:0 auto;
	padding:10px 20px;
}

.mcs-slider-text,
.mcs-slider-text p{
	.mcs_text_color(#000);
}

.mcs-slider-text .btn{
	display:inline-block;
	margin:5px;
	padding:5px 10px;
	background:@decorative;
	.mcs_text_color(@decorative);
	font-size:26px;
}
.mcs-slider-text .btn:hover{
	text-decoration:none;
}

.mcs-slider-text h1{
	font-size:36px !important;
}

