.logo-container img{
	background-color:@decorative;
}
.logo-container img:hover{
	background-color:#000;
}
.motto .accent {
	color:@decorative;
}

.tygh-header .top-menu-grid{
	background:@menu;
	.drop-shadow(0,3px,7px,0,0.2);
}

.tygh-header .top-menu{
/*	max-width:@fluidContainerMaxWidth;
	width:960px !important;
	margin:auto !important;*/
}

.tygh-header ul.dropdown-multicolumns{
	background:@menu;
}
