.logo-container{
	min-height:20px;
	margin:10px 0;
}

.logo-container .logo{
	margin:0;
}

.motto{
	margin-left: 5px;
	margin-top: 40px;
}
.motto p {
	padding:0;
	font-weight: bold;
	color: #ccc;
	font-size: 24px;
	letter-spacing: -1px;
}

.motto .accent {
	font-weight: bold;
	font-size: 24px;
	letter-spacing: -1px;
}

.tygh-header .top-menu-grid{
	border-top:1px solid;
	border-bottom:1px solid;
}
.tygh-header ul.dropdown-multicolumns{
	border-left:none;
	border-right:none;
}
