.search-block-grid{
	margin-top:45px;
}
.search-block-grid .search-input{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	border:0;
	float:right;
	width:200px;
	border:2px solid !important;
	padding: 6px 30px 6px 6px;
	height: auto;
	margin:0;
}
.search-magnifier {
	background:#777;	
	width:auto;
	height:auto;
	top:0;
	right:0;
	font-size:100%;
	padding:2px 3px 2px 3px;
	}
.search-magnifier i{
	font-size:24px;
	margin-top:2px;
	color:#fff;
}
.search-block-grid .search-input:focus{
	width:95%;
	font-size:100%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}