.tygh-top-panel{
	margin-bottom:0;	
}
.top-links-grid .dropdown-box {
	background: none;
}

.select-link > span {
    border-bottom:none;
    color: #000;
}
.tygh-top-panel .top-languages .select-wrap {
    background:none;
}
.top-links-grid .top-languages .select-wrap > .flag{
	margin-top:2px;
}
.select-list a, .select-list a:visited, .select-list a:hover, .select-list a:active {
    text-shadow: none;
}
