/*General shortcodes styles*/
.sc.display-block{display:block!important;}
.sc{border:1px solid transparent;}
.css3-transition-all,
.css3-transition-all a,
.css3-transition-all i{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.rotate:hover i {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
/**************************************** youtube,vimeo *********************************************************/
.sc.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
	height: 0; 
	overflow: hidden;
}
.sc.video-container iframe,
.sc.video-container object,
.sc.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**************************************** Button *********************************************************/
.sc.button{
	margin:5px;
	color:#fff;
	border:1px solid transparent;
}
.sc.button span i{
	color:#fff;
}
.sc.button:hover{
	text-decoration:none!important;
	background-color:#fff!important;
}
.sc.button.large span {
	padding: 0 18px;
	line-height: 2.7em;
	font-size:18px;
}
.sc.button.large span i {
	margin-right:18px;
}
.sc.button.medium span {
	padding: 0 16px;
	line-height: 2.5em;
	font-size:16px;
} 
.sc.button.medium span i {
	margin-right:16px;
}
.sc.button.small span {
	padding: 0 14px;
	line-height: 2.3em;
}
.sc.button.small span i {
	margin-right:14px;
}

/***************************** Icon Call-To-Action ***************************************************************/
.sc.cta.icon h3{font-size:18px;}
.sc.cta.icon{padding:10px;}



/**imagecta*/
.cta.image {
	position:relative;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
.cta.image .caption {margin:0 auto;}

.cta.image img {
	width:100%;
	height:auto;

}

.cta.image .description{
	position:absolute; 
	bottom:0; 
	left:0;
	width:100%;
	margin:0;
	color:#fff;
	opacity:0.6; 
	filter:alpha(opacity=60);
}
.cta.image p.description_content{
	padding:10px;
	margin:0px;
}

.scale {
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.scale:hover {
   -webkit-transform: scale(1.1);
     -moz-transform: rotate(1.1);
       -o-transform: rotate(1.1);
      -ms-transform: rotate(1.1);
          transform: rotate(1.1);
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

/*rotate*/
.cta.image.rotate {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.cta.image.rotate:hover {
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.shrink {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.shrink:hover {
     -webkit-transform: scale(0.9);
     -moz-transform: rotate(0.9);
       -o-transform: rotate(0.9);
      -ms-transform: rotate(0.9);
          transform: rotate(0.9);
}

/*BLUR*/
.blur img  {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.blur:hover img {
  -webkit-filter: blur(5px);
}

/*B&W*/
.bw img{
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover img{
  -webkit-filter: grayscale(100%);
}

/*lightbox*/
.sc .previewer {position:static;}


