.sc i {color:@decorative;}

/**************************************** button *********************************************************/
.sc.button{
	background-color:@decorative;
}

.sc.button:hover{
	border:1px solid @decorative;
}
.sc.button:hover,.sc.button:hover span i{
	color:@decorative;
}


/**************************************** calltoaction *********************************************************/
.sc.cta.box.dark{background-color:@decorative;}
.sc.cta.box.dark span:hover{color:@decorative;}

.sc.cta.box.transparent{border:1px solid @decorative;}
.sc.cta.box.transparent span{background-color:@decorative;}

.sc.cta.box.light{border:1px solid @decorative;}
.sc.cta.box.light span{background-color:@decorative;}

 

