/*General shortcodes styles*/
.sc.dark i {
	.mcs_text_color(@decorative);
}
/*.sc:hover i {
	color:#fff;
}*/
/**************************************** button *********************************************************/
.sc.button{
	background-color:@decorative;
}
.sc.button:hover{
	border:1px solid @decorative;
	color:@decorative;
}
.sc.button:hover span i{
	color:@decorative;
}
/**************************************** Icon Call-To-Action**************************************************/
@decorativ:#ddd;
.mcs_sc_icon (@b) when (lightness(@b) >= 87%) {
	color: #000;
}
.sc.cta.icon {
	background-color: transparent;
	overflow:hidden;
}
.sc.cta.icon.border{
	border-color:@decorative;
}
.sc.cta.icon a{
	color:@links;
	.mcs_sc_icon(@links);
}
.sc.cta.icon h3,
.sc.cta.icon i,
.sc.cta.icon .button, 
.sc.cta.icon .button i {
	background-color: transparent;
	color:@decorative;
	.mcs_sc_icon(@decorative);
}
.sc.cta.icon:hover {
	background-color: @decorative;
}
.sc.cta.icon:hover i,
.sc.cta.icon:hover h3,
.sc.cta.icon:hover p,
.sc.cta.icon:hover a,
.sc.cta.icon:hover .button,
.sc.cta.icon:hover .button i{
	.mcs_text_color(@decorative);
}

.sc.cta.icon.dark{
	background-color: @decorative;
}
.sc.cta.dark.icon i,
.sc.cta.dark.icon h3,
.sc.cta.dark.icon p,
.sc.cta.dark.icon a,
.sc.cta.dark.icon .button,
.sc.cta.dark.icon .button i{
	.mcs_text_color(@decorative);
}

.sc.cta.dark.icon:hover {
	background-color: #fff;
}
.sc.cta.icon.dark.border:hover{
	border-color:@decorative;
}
.sc.cta.icon.dark:hover h3,
.sc.cta.icon.dark:hover i,
.sc.cta.icon.dark:hover a,
.sc.cta.icon.dark:hover .button, 
.sc.cta.icon.dark:hover .button i {
	background-color: transparent;
	color:@decorative;
	.mcs_sc_icon(@decorative);
}

.sc.cta.dark.icon:hover p{color:#000000;}
/***********************************************imagecta*****************************************************/
.cta.image div.description{
	background-color: @decorative;
}

.cta.image p.description_content{
	.mcs_text_color(@decorative);
}