*{
	text-transform:none !important;
}

.mcs-centered{
	float:none !important;
	max-width:960px !important;
	margin:auto !important;
}

.mcs-expanded{
	float:none !important;
	max-width:1200px !important;
	margin:auto !important;
}