.sort-dropdown {
	.gradient (lighten(@secondary_button, 15%),lighten(@secondary_button, 15%));
}
.sort-dropdown.open, .sort-dropdown:hover {
	border-color: darken(@secondary_button, 15%);
}
.dropdown-content{
	.border-radius(0px);
}
.views-icons a{
	border:1px solid;
	border-color: darken(@secondary_button, 8%);
}
.views-icons .active, 
.views-icons .active:hover {
	.gradient (lighten(@secondary_button, 15%), lighten(@secondary_button, 15%));
	border:1px solid;
	border-color: darken(@secondary_button, 8%);
}
.views-icons .active:hover {
	border-color: darken(@secondary_button, 15%);
}
.popup-content ul.account-info li a:hover, 
ul.select-list li:hover, 
.dropdown-content li:hover, 
.tabs .dropdown-menu li.active {
	.gradient (@secondary_button, @secondary_button);
}