.sidebox-wrapper{
	border:1px solid;
}
.sidebox-title {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	padding:10px 10px 5px;
}

.sidebox-wrapper .sidebox-title{
	border:none;
	border-bottom:none;
}
.sidebox-wrapper .sidebox-title span,
.sidebox-wrapper .sidebox-title a{
	font-weight:normal;
	font-size:115%;
}
.sidebox-wrapper .sidebox-body{
	padding:5px 10px 10px;
	border-radius:0;
	border:none;
}
.filter-wrap .icon-right-dir, 
.filter-wrap .icon-down-dir{
	margin:0;
}
.filter-title{
	border:none;
	font-size:125%;
}

.ui-slider .ui-slider-handle {
	width: 15px;
	height: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}