.mcs_alpha_grid ul.products {
	margin-top:10px;
}
.mcs_alpha_grid ul.products li.product {
	margin-bottom: 20px;
	padding-bottom:6px;/**/
}
.mcs_alpha_grid ul.products li.product .product-wrapper {
	border: 1px solid #ccc;
	background-color:#fff;
}
.mcs_alpha_grid ul.products li.product:hover .product-wrapper{
	-webkit-box-shadow: 1px 1px 15px rgba(0,0,0,0.33);
	-moz-box-shadow: 1px 1px 15px rgba(0,0,0,0.33);
	box-shadow: 1px 1px 15px rgba(0,0,0,0.33);
}
.mcs_alpha_grid ul.products li.product .prod_img{
	border:1px solid #e4e4e4;
	padding:0;
	margin:5px 5px 0;
}

.mcs_alpha_grid ul.products li.product .product_info{
	padding:0;
	margin:0 5px;
}
.mcs_alpha_grid ul.products li.product .product_info h3{
	padding:5px 0;
}
.mcs_alpha_grid ul.products li.product .product_info h3 a{
	color:#fff;
	text-align:center;
	margin:0 2px;	
}
.mcs_alpha_grid ul.products li.product .product_info h3 a:hover{
	text-decoration:none;
}
.mcs_alpha_grid ul.products li.product .product_info .price-wrapper{
	text-align:center;
}
.mcs_alpha_grid ul.products li.product .product_info .price-wrapper .list-price,
.mcs_alpha_grid ul.products li.product .product_info .price-wrapper .price .price-num,
.mcs_alpha_grid ul.products li.product .product_info .price-wrapper .price .no-price{
	font-size:130% !important;
	font-weight:bold;
}
.mcs_alpha_grid ul.products li.product .product_extra_info {
	padding:0 0 10px 0;
	margin:0 5px 0 5px;
}
.mcs_alpha_grid ul.products li.product .product-meta{
	padding:0px 5px 5px 5px;
}

.mcs_alpha_grid ul.products li.product .product-meta-wrapper{
	padding:0px 0 20px 0;	
}

.mcs_alpha_grid ul.products li.product .product-wrapper .thumb-discount-label{
	top:0px;
}
/*************************** hover hide **********************************/

/*.hover_hide{
	min-height:300px !important;
}*/
.mcs_alpha_grid ul.products li.product.hover_hide .price-wrapper{
	padding-bottom:10px;
}

/*************************** buttons **********************************/

.mcs_alpha_grid .button{
	width:auto;
}
.mcs_alpha_grid .buttons-list-wrapper{
	height:auto;
	opacity:1;	
}
.mcs_alpha_grid .add-buttons-wrap{
	height:auto;
	min-height:3em;
	text-align:center;
}
.mcs_alpha_grid .add-to-compare{
	margin:0 !important;
}
.mcs_alpha_grid .add-to-wish,
.mcs_alpha_grid .add-to-compare{
	text-align:center;
	white-space:nowrap;
}
.mcs_alpha_grid .add-buttons-wrap .text-button{
	display:inline-block;
	width:auto; 			/*Make it 80% when text is too long else auto*/
	padding:0;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	vertical-align:middle;
	font-size:90% !important;
}
.mcs_alpha_grid .bottom_buttons{
	padding-top:5px;
}
.mcs_alpha_grid .quick-view{
	height:auto;
	text-align:center;
}
.mcs_alpha_grid .add_cart_button{
	text-align:center;
	padding-top:10px;
}

.mcs_alpha_grid .icon_wrap{
	vertical-align:middle;
}
.mcs_alpha_grid .button-wrap-right,
.mcs_alpha_grid .mcs-wishlist > div > span{
	margin:0;
	padding:10px;
//	color:#fff;
	display:inline-block;
}

.mcs_alpha_grid .button a,
.mcs_alpha_grid .button-action a,
.mcs_alpha_grid .button-submit-action input,
.mcs_alpha_grid .mcs-wishlist > div span a{
//	color:#fff;
	width:auto;
	margin-left:1px;
	text-align:left;
	display:inline-block !important;
	font-size:13px;
	font-weight:bold;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:0;
	vertical-align:middle;
}

.mcs_alpha_grid .button:hover a{
	margin-left:1px;
}