.sidebox-wrapper{
	border-color: lighten(@base,35%);
}
.sidebox-title{ 
	.mcs_sidebox_header(@sidebar);
}

.sidebox-wrapper .sidebox-title{
	.gradient(@sidebar,@sidebar);
}
.sidebox-wrapper .sidebox-title,
.sidebox-wrapper .sidebox-body {
	border-color: lighten(@base,35%);
	box-shadow:none;
	background-color:@sidebar;
}

.sidebox-body{
	.mcs_sidebox_text(@sidebar);
}