.mcs-side-menu{
	background-color:darken(@decorative,5%);
}
.mcs-side-menu ul.text-links,
.mcs-side-menu li a{
	color:#fff;
}
.mcs-side-menu li.active,
.mcs-side-menu ul.text-links li.active a{
	color:#404040;
}