@rounded_corners: on;

























@links: #009ed6;

























@menu_links: #ffffff;

























@menu: #00aff0;

























@base: #808080;

























@font: #757575;

























@primary_button: #8cd15e;

























@secondary_button: #d9d9d9;

























@sidebar: #ffffff;

























@price: #757575;

























@discount_label: #62ad00;

























@in_stock: #62ad00;

























@out_of_stock: #a80006;

























@top_panel_links: #0088cc;

























@top_panel_text: #555555;

























@footer_text: #ffffff;

























@decorative: #ffffff;

























@general_bg_color: #ffffff;

























@general_bg_image: transparent;

























@general_bg_repeat: repeat;

























@general_bg_scroll: scroll;

























@top_panel_bg_color: #ffffff;

























@top_panel_bg: repeat scroll;
@top_panel_bg_grad_stop: #ffffff;

























@top_panel_bg_full: repeat scroll;
@top_panel_bg_color_full: #ffffff;

























@top_panel_bg_grad_stop_full: #ffffff;

























@header_bg_color: #ffffff;

























@header_bg: repeat scroll;
@header_bg_grad_stop: #ffffff;

























@header_bg_full: transparent;

























@header_bg_color_full: transparent;

























@header_bg_grad_stop_full: transparent;

























@content_bg_color: #eeeeee;

























@content_bg: repeat scroll;
@content_bg_full: transparent;




@content_bg_color_full: #eeeeee;

























@content_bg_grad_stop_full: transparent;
@footer_bg_color: #009ed6;

























@footer_bg: repeat scroll;
@footer_bg_grad_stop: #009ed6;

























@footer_bg_full: repeat scroll;
@footer_bg_color_full: #009ed6;

























@footer_bg_grad_stop_full: #009ed6;

























@body_font: Comfortaa;

























@body_font_size: 13px;

























@body_font_style: normal;

























@body_font_weight: normal;

























@headings_font: Comfortaa;

























@headings_font_size: 26px;

























@headings_font_decoration: none;

























@headings_font_style: normal;

























@headings_font_weight: bold;

























@links_font: Comfortaa;

























@links_font_size: 13px;

























@links_font_decoration: none;

























@links_font_style: normal;

























@links_font_weight: normal;

























@price_font: Comfortaa;

























@price_font_size: 36px;

























@price_font_decoration: none;

























@price_font_style: normal;

























@price_font_weight: normal;

























@buttons_font: Comfortaa;

























@buttons_font_size: 11px;

























@buttons_font_decoration: none;

























@buttons_font_style: normal;

























@buttons_font_weight: bold;

























/*CUSTOMCSS*/

/*/CUSTOMCSS*/















/*GFONTS*/
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa'), local('Comfortaa-Regular'), url(http://themes.googleusercontent.com/static/fonts/comfortaa/v5/qLBu5CQmSMt1H43OiWJ77aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

/*/GFONTS*/