@media (max-width:767px){

.top-links-grid .top-languages{
	margin:0;
}
.top-links-grid .top-languages .select-wrap{
	padding:14px 0;
	margin:0;
	background:none;
}
.top-links-grid .top-languages .select-wrap > .flag{
	padding:0;
	position:absolute;
	margin-left:7px;
}
.top-links-grid .top-languages .select-link{
	padding:14px 12px 14px 32px;
	margin-right:5px;
}
.top-links-grid .top-languages .select-link span{
	display:none;
}
.top-links-grid .top-languages .select-link i{
	margin-right:7px;
	top:auto;
}
.top-links-grid .top-currencies .select-wrap{
	margin:0;
}
.top-links-grid .top-currencies .select-wrap.currencies a{
	padding:14px 8px;
	margin:0;
}
.top-links-grid .top-my-account .popup-title{
	padding:13px 20px 13px 12px;
}
.top-links-grid .top-my-account .popup-title a{
	font-size:0px;
}
.top-links-grid .top-cart-content .dropdown-box > a{
	padding:13px 20px 12px 13px;
}
.top-links-grid .top-cart-content .mcs-phone-hide{
	display:none;
}
.top-links-grid .dropdown-box .icon-down-micro{
	top:11px;
}
.top-links-grid .dropdown-box .minicart-table tr .icon-cancel-circle{
	visibility:visible;
}
}

@media (max-width:479px){

.top-cart-content .popup-content{
	right:-70px;
}

.top-cart-content .popup-content .cart-items{
	padding:10px 15px;
	width:280px;
}

}