.mcs-header{
	max-width:100%;
	padding:0 !important;
}

.logo-container{
	min-height:20px;
	margin:10px 0;
}

.logo-container .logo{
	margin:0;
}

.motto{
//	margin-left: -40px;
	margin-left: 5px;
	margin-top: 33px;
}
.motto p {
	padding:0;
	font-weight: bold;
	color: #ccc;
	font-size: 24px;
	letter-spacing: -1px;
}

.motto .accent {
	font-weight: bold;
	font-size: 24px;
	letter-spacing: -1px;
	color:darken(@menu, 5%);
}

.tygh-header .top-menu-grid{
	.gradient (@menu, darken(@menu, 5%));
	.drop-shadow(0,3px,7px,0,0.2);
}

.tygh-header .top-menu{
/*	max-width:@fluidContainerMaxWidth;
	width:960px !important;
	margin:auto !important;*/
}

.tygh-header ul.dropdown-multicolumns{
	border-left:none;
	border-right:none;
	.gradient (@menu, darken(@menu, 5%));
}

