.motto .accent {
	color:darken(@menu, 5%);
}
.tygh-header .top-menu-grid{
	.gradient (@menu, darken(@menu, 5%));
	.drop-shadow(0,3px,7px,0,0.2);
}

.tygh-header .top-menu{
/*	max-width:@fluidContainerMaxWidth;
	width:960px !important;
	margin:auto !important;*/
}

.tygh-header ul.dropdown-multicolumns{
	.gradient (@menu, darken(@menu, 5%));
}
