.product-main-info .image-border:hover {
	.drop-shadow(0, 0, 30px, 0, 0.3);
}

.product-info .brand-image img:hover{
	.drop-shadow(0, 0, 15px, 0, 0.3);
}

.product-main-info .add-to-wish,
.product-main-info .add-to-compare{
	color:@links;
}
.popup-tabs{
	background:lighten(@base,41%);
}

/* Product options */
.cm-picker-product-options{
	background:lighten(@base,41%);
}
.options-wrapper .product-list-field {
	border-color:lighten(@base,30%);
}

/* Products Tabs */
.tabs{
	border-color:darken(@decorative,5%);
}

.tabs ul>li, 
.tabs ul>li.active{
	.border-radius(0px);
}

.tabs ul li.active,
.tabs ul.dropdown-menu li.active {
	border-color: darken(@decorative, 5%);
}

.tabs-content .control-group{
	border-color: lighten(@base,41%);
}