.mcs_i_grid ul.products li.product .product-wrapper .thumb-discount-label{
	top:155px;
}
.mcs_i_grid .mcs_labels_wrapper{
	position:absolute;
	top:155px;
	left:46px;
}
.mcs_i_grid .mcs_label{
	display:block;
	margin:0;
	padding:5px 5px 6px;
	float:left;
}

.mcs_i_grid .thumb-discount-label .label,
.mcs_i_grid .mcs_label .label{
	display:none;
}