.mcs-brands-page{
	padding-top:10px;
}
.mcs-brands-page .brand-box > a:hover{
	text-decoration:none;
}

.mcs-brands-page .brand-image,
.mcs-brands-page .brand-image .no-image{
	background-color:transparent;
}
.mcs-brands-page .brand-name{
	display:block;
	padding:10px 10px 0;
}
.mcs-brands-page .brand-name:hover{
	text-decoration:underline;
}
.mcs-brands-page .brand-url{
	padding-bottom:8px;
}