.hover_hide{
	position:relative;
/*	min-height:290px !important;	*/
}
.hover_hide .product-wrapper {
	position:absolute;
	width:100%;
}

.hover_hide:hover {
/*	z-index: 250;*/
}
.hover_hide .product-wrapper {
	background: #fff;
}

.hover_hide .product-meta-wrapper {
	overflow: hidden;
}