.sidebox-body ul.text-links{
	padding:0px;
}
.sidebox-body .text-links li.level-1{
	margin:10px 0;
}
.sidebox-body .text-links li.level-1:before{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content:"\e3cb";
	margin-right:5px;
	vertical-align:middle;
	font-size:120%;
}
.sidebox-body .text-links li:first-child{
	margin-top:0px;
	padding-top:0px;
}
.sidebox-body .text-links li:last-child{
	margin-bottom:0px;
	padding-bottom:0px;
}
.sidebox-body .text-links li a{
	line-height:16px;
	vertical-align:middle;
}