.categories_view h1.mainbox-title{
	display:inline-block;
}
.categories_view .mainbox-body{
	margin:0px;
}
.mcs-category-image {
	min-height:76px;
	max-height:350px;
	overflow:hidden;
}
.mcs-category-image img{
	width:100%;
	height:auto;
	position:relative;
	z-index:0;
	
}
.mainbox-body [id^="category_products"]{
	padding:10px 10px 0;
}

.subcategories{	
	margin:0px 0px 10px;
}
.subcategories ul li {	
	margin:5px;
}
.subcategories ul li:first-child {	
	margin-left:0;
}
.subcategories li:hover a{
	text-decoration:none;
}


.mcs_i_grid ul.products {
	margin-top:10px;
}
.mcs_i_grid ul.products li.product {
	margin-bottom: 20px;
	padding-bottom:6px;
}
.mcs_i_grid ul.products li.product .product-wrapper {
	background-color:#fff;
	border-color:#fff;
}
.mcs_i_grid ul.products li.product .prod_img{
	border-bottom:1px solid;
	padding:0 0 32px;
	margin:5px 5px 0;
}

.mcs_i_grid ul.products li.product .product_info{
	padding:0;
	margin:0 5px;
}
.mcs_i_grid ul.products li.product .product_info .product-title{
	min-height:2.5em;
	max-height:2.5em;
}
.mcs_i_grid ul.products li.product .product_info h3{
	padding:5px 0;
}
.mcs_i_grid ul.products li.product .product_info h3 a{
	text-align:center;
	margin:0 2px;
	font-weight:normal;
}
.mcs_i_grid ul.products li.product .product_info .price-wrapper{
	text-align:center;
}
.mcs_i_grid ul.products li.product .product_info .price-wrapper .list-price{
	font-size:85% !important;
}

.mcs_i_grid ul.products li.product .product_info .price-wrapper .list-price .list-price,
.mcs_i_grid ul.products li.product .product_info .price-wrapper .price .price-num,
.mcs_i_grid ul.products li.product .product_info .price-wrapper .price .no-price{
	font-weight:bold;
}
.mcs_i_grid ul.products li.product .product_extra_info {
	padding:0 0 10px 0;
	margin:0 5px 0 5px;
}
.mcs_i_grid ul.products li.product .product-meta{
	padding:0px 5px 5px 5px;
}

.mcs_i_grid ul.products li.product .product-meta-wrapper{
	padding:0px 0 20px 0;	
}

.mcs_i_grid ul.products li.product .product-wrapper .thumb-discount-label{
	top:6px;
	left:6px;
	right:auto;
	width:30px;
	line-height:30px
	text-align:center;
}
.mcs_i_grid ul.products li.product .product-wrapper .thumb-discount-label i{
	display:none;
}
.mcs_i_grid ul.products li.product .product-wrapper .thumb-discount-label .discount_percent{
	vertical-align:middle;
	font-size:1.2em;
	cursor:default;
	display:block;
	text-align:center;	
}
/*************************** hover hide **********************************/

/*.hover_hide{
	min-height:300px !important;
}*/
.mcs_i_grid ul.products li.product.hover_hide .price-wrapper{
	padding-bottom:10px;
}

/*************************** buttons **********************************/

.mcs_i_grid .button{
	width:auto;
}
.mcs_i_grid .buttons-list-wrapper{
	height:auto;
	opacity:1;	
}
.mcs_i_grid .add-buttons-wrap{
	height:auto;
	min-height:3em;
	text-align:center;
}
.mcs_i_grid .add-to-compare{
	margin:0 !important;
}
.mcs_i_grid .add-to-wish,
.mcs_i_grid .add-to-compare{
	text-align:center;
	white-space:nowrap;
}
.mcs_i_grid .add-buttons-wrap .text-button{
	display:inline-block;
	width:auto; 			/*Make it 80% when text is too long else auto*/
	padding:0;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	vertical-align:middle;
	font-size:90% !important;
}
.mcs_i_grid .bottom_buttons{
	padding-top:5px;
}
.mcs_i_grid .quick-view{
	height:auto;
	text-align:center;
}
.mcs_i_grid .add_cart_button{
	text-align:center;
	padding-top:10px;
}

.mcs_i_grid .icon_wrap{
	vertical-align:middle;
}
.mcs_i_grid .button-wrap-right,
.mcs_i_grid .mcs-wishlist > div > span{
	margin:0;
	padding:10px;
	display:inline-block;
}

.mcs_i_grid .mcs-wishlist .button-wrap-right,
.mcs_i_grid .mcs-wishlist .button-wrap-left{
	padding:0;
	border:none;
}

.mcs_i_grid .button a,
.mcs_i_grid .button-action a,
.mcs_i_grid .button-submit-action input,
.mcs_i_grid .mcs-wishlist > div span a{
	width:auto;
	margin-left:1px;
	text-align:left;
	display:inline-block !important;
	font-size:13px;
	font-weight:bold;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:0;
	vertical-align:middle;
}

.mcs_i_grid .button:hover a{
	margin-left:1px;
}

/*Slider progress bar*/
.slides-container .progress-bar{
	bottom:-5px;
	margin-left:0;
}

@-webkit-keyframes fullexpand
{
	0%	{width:0%;opacity:0;}
	80%	{width:100%;opacity:0.7;}
	100%{width:100%;opacity:0.7;}
}

@-moz-keyframes fullexpand
{
	0%	{width:0%;opacity:0;}
	80%	{width:100%;opacity:0.7;}
	100%{width:100%;opacity:0.7;}
}

@keyframes fullexpand
{
	0%	{width:0%;opacity:0;}
	80%	{width:100%;opacity:0.7;}
	100%{width:100%;opacity:0.7;}
}