[class^="mcs-brand-scroller-"] .bx-viewport{
	background:none;
	border:none;
	padding:10px 9px;
	left:-9px;
}
[class^="mcs-brand-scroller-"] .brand-box{
	border:none;
}
[class^="mcs-brand-scroller-"] .brand-box > a:hover{
	text-decoration:none;
}
[class^="mcs-brand-scroller-"] .brand-image,
[class^="mcs-brand-scroller-"] .brand-image .no-image{
	background-color:#fff;
	border:none;
	margin-bottom:5px;
}
[class^="mcs-brand-scroller-"] .brand-name{
	display:block;
	padding:10px;
	border-top:1px solid;
}
[class^="mcs-brand-scroller-"] .brand-name:hover{
	text-decoration:underline;
}

[class^="mcs-brand-scroller-"] .mcs-brand-scroller-button a{
	font-size:18px;
}