.mean-container .mean-bar {
	background: @menu;
}

.mean-container .mean-nav {
	background: @menu;
}

.mean-container .mean-nav ul li {
	padding:0;
	margin:0;
}
.mean-container .mean-nav ul li a.mean-expand {
	height: auto;
	padding: 10px !important;
}

.mean-container .mean-nav > ul{
	position:absolute;
	background: @menu;
}